<div class="main-container">
    <div class="banner">
      <div class="welcome">
        <h1>👋 Bem-vindo, {{ usuario?.username }}</h1>
        <div class="motivational-message">
          <p>"{{ motivationalMessage.quote }}"</p>
          <span class="author">{{ motivationalMessage.author }}</span>
        </div>
      </div>
  
      <div class="climate">
        <div class="title-clima">
          <h3>Clima de {{ weatherData.name }} </h3>
        </div>
        <div class="temperatura">
          <img [src]="iconUrl" alt="Ícone do clima">
          <span>{{ temperature | number:'1.0-0' }} °C</span>
        </div>
        <div class="descricao">
          <h6>Vento: {{ windSpeed }} m/s, {{ weatherDescription }}</h6>
        </div>
      </div>
    </div>

     <div class="containers-dashboard">
      <div class="cards-container">
        <div class="card info-card">
            <span> 0 </span>
            <div class="categoria-card">
                <div class="icone-card">
                    <img src="assets/icones/modulo.svg" alt="Curso icone">
                </div>
                <p>Cursos finalizados</p>
            </div>
        </div>
        <div class="card info-card">
            <span> 0 </span>
            <div class="categoria-card">
                <div class="icone-card">
                    <img src="assets/icones/dashboard/cursos.svg" alt="Curso icone">
                </div>
                <p>Aulas assistidas</p>
            </div>
        </div>
        <div class="card info-card">
            <span> 0 </span>
            <div class="categoria-card">
                <img src="assets/icones/coin.svg" alt="Curso icone">
                <p>Moedas</p>
            </div>
        </div>
      </div>
    </div>

    <div class="banner-info">
        <h1>Inicie seu primeiro curso agora</h1>
        <p>Além de adquirir conhecimento você irá ganhar moedas para comprar produtos na Lojinha do John</p>
        <button class="btn-acao" (click)="visualizarCursos()">Acessar cursos</button>
    </div>

    <div class="subMain-container">
      <div class="cursos-recomendados">
        <h2>Cursos Recomendados</h2>
        <div class="cursos-grid">
          <div class="curso-card" *ngFor="let curso of cursosRecomendados">
            <div class="curso-image">
              <img [src]="curso.image" [alt]="curso.description">
            </div>
            <h3>{{ curso.description }}</h3>
            <div class="details">
              <p>{{ curso.descriptionText }}</p>
            </div>
            <button (click)="navegarParaModulo(curso.value)" class="access-btn">Acessar curso →</button>
          </div>
        </div>
      </div>

      <div class="produtos-recomendados">
        <h2>Lojinha do John</h2>
        <div class="produtos-grid" *ngIf="produtosLojinhaRecomendados.length > 0; else noProdutos">
          <div class="produto-card" *ngFor="let produto of produtosLojinhaRecomendados">
            <div class="produto-image">
              <img [src]="produto.foto?.documentoUrl || 'assets/imgs/defaut-img-produto.png'" [alt]="produto.nome">
            </div>
            <h3>{{ produto.nome }}</h3>
            <div class="details">
              <span>
                <img src="assets/icones/coin.svg" alt="Moeda">
                {{ produto.valor }} Moedas
              </span>
            </div>
            <button class="resgate-btn" (click)="resgatarProduto(produto.id)">Resgatar Produto</button>
          </div>
        </div>

        <ng-template #noProdutos>
              <div class="no-data-message">
                <img src="assets/imgs/empty-images/no-data.svg" alt="Sem dados">
                <p>Não há produtos disponíveis.</p>
              </div>
          </ng-template>
      </div>
    </div>
</div>