<div class="main-container">
    <div class="banner">
      <div class="welcome">
        <h1>👋 Bem-vindo, {{ usuario?.username }}</h1>
        <div class="motivational-message">
          <p>"{{ motivationalMessage.quote }}"</p>
          <span class="author">{{ motivationalMessage.author }}</span>
        </div>
      </div>
  
      <div class="climate">
        <div class="title-clima">
          <h3>Clima de {{ weatherData.name }} </h3>
        </div>
        <div class="temperatura">
          <img [src]="iconUrl" alt="Ícone do clima">
          <span>{{ temperature | number:'1.0-0' }} °C</span>
        </div>
        <div class="descricao">
          <h6>Vento: {{ windSpeed }} m/s, {{ weatherDescription }}</h6>
        </div>
      </div>
    </div>

     <div class="containers-dashboard">
      <div class="cards-container">
        <div class="card info-card">
            <span> 0 </span>
            <div class="categoria-card">
                <div class="icone-card">
                    <img src="assets/icones/dashboard/cursos.svg" alt="Curso icone">
                </div>
                <p>Cursos finalizados</p>
            </div>
        </div>
        <div class="card info-card">
            <span> 0 </span>
            <div class="categoria-card">
                <div class="icone-card">
                    <img src="assets/icones/dashboard/gerentes.svg" alt="Gerente icone">
                </div>
                <p>Aulas assistidas</p>
            </div>
        </div>
        <div class="card info-card">
            <span> 0 </span>
            <div class="categoria-card">
                <div class="icone-card">
                    <img src="assets/icones/dashboard/colaboradores.svg" alt="Colaborador icone">
                </div>
                <p>Total de Quiz</p>
            </div>
        </div>
      </div>
    </div>

    <div class="banner-info">
        <h1>Inicie seu primeiro curso agora</h1>
        <p>Além de adquirir conhecimento você irá ganhar moedas para comprar produtos na Lojinha do John</p>
        <button class="btn-acao">Acessar cursos</button>
    </div>

    <!-- Adicione onde deseja exibir os recomendados -->
    <div class="cursos-recomendados">
      <h2>Cursos Recomendados</h2>
      <div class="cursos-grid">
        <div class="curso-card" *ngFor="let curso of cursosRecomendados">
          <div class="curso-image">
            <img [src]="curso.image" [alt]="curso.description">
          </div>
          <h3>{{ curso.description }}</h3>
          <div class="details">
            <p>{{ curso.descriptionText }}</p>
          </div>
          <button (click)="navegarParaModulo(curso.value)" class="access-btn">Acessar curso →</button>
        </div>
      </div>
    </div>
</div>