<div class="main-container">
    <div class="back-title">
        <img src="assets/icones/arrow-left.svg" alt="Back" class="back-icon" (click)="goBack()">
        <span>Cadastrar registro</span>
    </div>
  
    <div class="forms-container">
        <form (ngSubmit)="onSubmit()" [formGroup]="registroForm">
            <div class="form-group">
                <label for="lojaId">Loja</label>
                <app-select-padrao
                  label="Selecione uma loja"
                  [options]="lojas"
                  [(selectedValue)]="selectedLoja"
                  formControlName="lojaId"
                  (selectedValueChange)="onLojaSelecionada($event)">
                </app-select-padrao>
            </div>

            <div class="form-group">
                <label for="colaboradorId">Colaborador</label>
                <app-select-padrao
                  label="Selecione um colaborador"
                  [options]="colaboradoresDaLoja"
                  [(selectedValue)]="registroForm.value.colaboradorId"
                  formControlName="colaboradorId"
                  [disabled]="colaboradorSelectDisabled">
                </app-select-padrao>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="data">Data</label>
                    <input type="date" id="data" name="data" formControlName="data" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="tipo">Tipo</label>
                    <app-select-padrao
                      label="Selecione o tipo"
                      [customStyles]="{'background': '#FFFFFF'}">
                    </app-select-padrao>
                </div>
            </div>

            <div class="form-group">
                <label>Classificação</label>
                <div class="radio-group">
                    <div class="radio-item">
                        <input type="radio" id="statusPositivo" name="classificacao" value="POSITIVO" formControlName="classificacao" checked>
                        <label for="statusPositivo">Positivo</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="statusNeutro" name="classificacao" value="NEUTRO" formControlName="classificacao">
                        <label for="statusNeutro">Neutro</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="statusNegativo" name="classificacao" value="NEGATIVO" formControlName="classificacao">
                        <label for="statusNegativo">Negativo</label>
                    </div>
                </div>
            </div>     

            <div class="form-group">
                <label for="valorQtdHs">Valor/Qtd/Hs</label>
                <input type="text" id="valorQtdHs" name="valorQtdHs" formControlName="valorQtdHs" class="form-control" placeholder="Digite" required>
            </div>

            <div class="form-group">
                <label for="comentario">Comentário</label>
                <textarea type="text" id="comentario" name="comentario" formControlName="comentario" class="form-control" placeholder="Digite um comentário" rows="3" required></textarea>
            </div>

            <div class="container-btn">
                <button type="submit" class="btn-cadastrar">
                    Cadastrar registro
                </button>
            </div>
        </form>
    </div>
</div>