<div class="main-banner">
    <div class="banner">
        <h1>Lojas</h1>
        <p>Um espaço onde você pode administrar todas as lojas.</p>
    </div>
  
    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a href="#">Home &gt; </a> <span class="breadcrumb-highlight"> Lojas</span>
        </div>
        <div class="actions">
            <div class="search-box">
                <input type="text" placeholder="Buscar loja" [(ngModel)]="termoBusca">
                <button (click)="buscarLoja()">
                    <img src="assets/icones/search.png" alt="Buscar">
                </button>
            </div>

            <button class="btn-cadastrar" (click)="cadastrarLoja()">Cadastrar Loja</button>
        </div>
    </div>
</div>