<div class="main-container">
    <div class="banner">
        <h1>Lojas</h1>
        <p>Um espaço onde você pode administrar todas as lojas.</p>
    </div>
  
    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a href="#">Home &gt; </a> <span class="breadcrumb-highlight"> Lojas</span>
        </div>
        <div class="actions">
            <div class="search-container">
                <app-search (searchChange)="onSearch($event)"></app-search>
            </div>
            <button class="btn-cadastrar" (click)="cadastrarLoja()">Cadastrar Loja</button>
        </div>
    </div>

    <div class="progress-bar-container" *ngIf="isLoading">
        <div class="progress-bar"></div>
    </div>

    <div class="tabela-container">
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Superior responsável</th>
                    <th>N° de funcionários</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let loja of lojasPaginados">
                    <td>
                        <div class="perfil">
                            <span>{{ loja.nome || '-' }}</span>
                        </div>
                    </td>
                    <td>{{ loja.endereco.rua }}, {{ loja.endereco.numero }} - {{ loja.endereco.bairro }}, {{ loja.endereco.cidade }} - {{ loja.endereco.estado }}, {{ loja.endereco.cep }}</td>
                    <td>
                        <div class="perfil">
                            <div class="avatar" [ngStyle]="{'background-color': getRandomColor(loja.supervisor?.username || '')}">
                                <img [src]="loja.supervisor?.foto?.documentoUrl" alt="Foto do supervisor" *ngIf="loja.supervisor?.foto?.documentoUrl; else defaultAvatar" />
                                <ng-template #defaultAvatar>
                                    <span>{{ getInitial(loja.supervisor?.username || '') }}</span>
                                </ng-template>
                            </div>
                            <span>{{ loja.supervisor?.username || '-' }}</span>
                        </div>
                    </td>
                    <td>{{ loja.quantidadeFuncionarios }}</td>
                    <td>
                        <div class="acoes">
                            <button class="btn-acao visualizar" (click)="visualizarLoja(loja.id)">
                                <img src="assets/icones/See.png" alt="Visualizar">
                            </button>
                            <button class="btn-acao edit" (click)="editarLoja(loja.id)">
                                <img src="assets/icones/Edit.png" alt="Editar">
                            </button>
                            <button class="btn-acao delete" (click)="openModalDeletar(loja)">
                                <img src="assets/icones/Delete.png" alt="Excluir">
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <app-pagination
        [paginaAtual]="paginaAtual"
        [totalItens]="totalItens"
        [itensPorPagina]="itensPorPagina"
        (paginaMudou)="onPaginaMudou($event)">
        </app-pagination>
    </div>  
</div>