<div class="main-container">
    <div class="banner">
        <h1>Renovação de Contrato</h1>
        <p>Gerencie e renove contratos com rapidez e organização.</p>
    </div>
  
    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a [routerLink]="rotaDashboard">Início &gt; </a> <span class="breadcrumb-highlight">Renovação de contrato</span>
        </div>
        <div class="actions">
            <div class="search-container">
                <app-search (searchChange)="onSearch($event)"></app-search>
            </div>
        </div>
    </div>

    <div *ngIf="successMessage" class="alert alert-success">
        <span>{{ successMessage }}</span>
        <button class="close-btn" (click)="clearMessage()" aria-label="Fechar">&times;</button>
        <div class="progress-bar-sucess" [style.animation]="successMessage ? 'progressBarAnim 3s linear' : 'none'"></div>
    </div>

    <div class="progress-bar-container" *ngIf="isLoading">
        <div class="progress-bar"></div>
    </div>

    <div class="tabela-container">
        <table>
            <thead>
                <tr>
                    <th>Colaborador</th>
                    <th>Loja</th>
                    <th>Departamento</th>
                    <th>Cargo</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let colaborador of colaboradoresPaginados">
                    <td>
                        <div class="perfil">
                            <div class="avatar" [ngStyle]="{'background-color': getRandomColor(colaborador.username)}">
                                <img [src]="colaborador.foto?.documentoUrl" alt="Foto do Colaborador" *ngIf="colaborador.foto?.documentoUrl; else defaultAvatar" />
                                <ng-template #defaultAvatar>
                                    <span>{{ getInitial(colaborador.username) }}</span>
                                </ng-template>
                            </div>
                            <span>{{ colaborador.username }}</span>
                        </div>
                    </td>
                    <td><span>{{ colaborador.loja?.nome }} - {{ colaborador.loja?.endereco?.cidade }}</span></td>
                    <td>{{ colaborador.departamento?.nome }}</td>
                    <td>{{ getDescricaoCargo(colaborador.cargo) }}</td>
                    <td>
                        <span [class.ativo]="colaborador.status === 'Ativo'"
                              [class.inativo]="colaborador.status === 'Inativo'">
                            {{ colaborador.status }}
                        </span>
                    </td>
                    <td>
                        <div class="acoes">
                           <button class="btn-acao renovar" (click)="openModalCadastro(colaborador)">
                                Renovar
                            </button>
                            <button class="btn-acao visualizar" (click)="visualizarColaborador(colaborador.id)">
                                <img src="assets/icones/See.png" alt="Visualizar">
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div *ngIf="colaboradoresPaginados.length === 0">
        <ng-container *ngIf="mensagemBusca; else semRenovacoes">
            <div>
            <div class="alert alert-warning text-center">
                {{ mensagemBusca }}
            </div>
            </div>
        </ng-container>
        <ng-template #semRenovacoes>
            <div class="no-data-message">
            <img src="assets/imgs/empty-images/no-data.svg" alt="Sem dados">
            <p>Não há renovações de contrato cadastradas.</p>
            </div>
        </ng-template>
    </div>

    <div class="pagination">
        <app-pagination
        [paginaAtual]="paginaAtual"
        [totalItens]="totalItens"
        [itensPorPagina]="itensPorPagina"
        (paginaMudou)="onPaginaMudou($event)">
        </app-pagination>
    </div> 
</div>

<ng-template #formCadastroTemplate>
    <div class="forms-container">
        <form class="modal-form" [formGroup]="renovacaoForm">
            <div class="form-group">
                <label for="periodoDeExperiencia">
                    Período de experiência
                </label>
                <app-select-padrao
                  label="Selecionar período de experiência"
                  [options]="periodosExperiencia"
                  [(selectedValue)]="selectedPeriodoExperiencia"
                  formControlName="periodoDeExperiencia">
                </app-select-padrao>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="dataDoContrato">
                        Data de admissão
                    </label>
                    <input type="date" id="dataDoContrato" formControlName="dataDoContrato" class="form-control">
                </div>
                <div class="form-group">
                    <label for="duracaoDoContrato">
                        Duração do contrato
                    </label>
                    <input type="number" id="duracaoDoContrato" formControlName="duracaoDoContrato" class="form-control" placeholder="Duração em dias" readonly>
                </div>
                <div class="form-group">
                    <label for="dataTerminoDoContrato">
                        Data do término do contrato
                    </label>
                    <input type="date" id="dataTerminoDoContrato" formControlName="dataTerminoDoContrato" class="form-control" readonly>
                </div>
            </div>

            <div class="form-group">
                <label for="observacoes">Observações</label>
                <textarea formControlName="observacoes" placeholder="Digite as observações da renovação do contrato" type="text"></textarea>
            </div>
        </form>
    </div>
</ng-template>