<div class="main-banner">
    <div class="banner">
        <h1>Fale com o Dono</h1>
        <p>Um espaço reservado para você falar com o John.</p>
    </div>
  
    <div class="breadcrumb">
        <a href="#">Home &gt; </a> <span class="breadcrumb-highlight"> Fale com o Dono</span>
    </div>

        
    <div class="chat-container">
        <div class="chat-sidebar">
            <div class="chat-header">
                <h2>Conversas</h2>
            </div>

            <div class="search-box">
                <input type="text" placeholder="Buscar" >
                <button>
                    <img src="assets/icones/search.png" alt="Buscar">
                </button>
            </div>
           
            <div class="chat-list">
                <div class="chat-item">
                    <p class="chat-name">Everardo Costa</p>
                    <p class="chat-preview">Oi, John, boa tarde. Tô com...</p>
                    <p class="chat-time">20/12/2024 às 16:00</p>
                </div>
                <div class="chat-item">
                    <p class="chat-name">Usuário anônimo</p>
                    <p class="chat-preview">Oi, John, boa tarde. Tô com...</p>
                    <p class="chat-time">20/12/2024 às 16:00</p>
                </div>
            </div>
        </div>
        
        <div class="chat-window">
            <div class="chat-header">
                <h2>Everardo Costa</h2>
            </div>
            <div class="chat-messages">
                <div class="message">
                    <p class="message-text">Oi, John, boa tarde. Tô com uma dúvida sobre o módulo 1.</p>
                    <p class="message-time">20/12/2024 às 16:00</p>
                </div>
                <div class="message">
                    <p class="message-text">Oi, Everardo. Pode dizer qual é a dúvida?</p>
                    <p class="message-time">20/12/2024 às 16:00</p>
                </div>
            </div>
            <div class="chat-input">
                <input type="text" placeholder="Enviar mensagem" class="input-message">
                <button class="send-button">Enviar</button>
            </div>
        </div>
    </div>

</div>
