<div class="main-container">
    <div class="back-title">
        <img src="assets/icones/arrow-left.svg" alt="Back" class="back-icon" (click)="goBack()">
        <span>{{ isEditMode ? 'Editar notícia' : 'Cadastrar notícia' }}</span>
    </div>
  
    <div class="forms-container">
        <form (ngSubmit)="onSubmit()" [formGroup]="noticiaForm">
            <div class="form-group">
                <label for="titulo">Titulo</label>
                <input type="text" id="titulo" name="titulo" formControlName="titulo" class="form-control" placeholder="Digite um título para a notícia" required>
            </div>

             <div class="form-group">
                <label for="lojasIds">Destinatário</label>
                <app-multiplo-select
                  label="Selecione uma loja"
                  [options]="lojasIds"
                  [(selectedValue)]="selectedDestinatario"
                  [multiple]="true"
                  formControlName="lojasIds"
                  (selectedValueChange)="onDestinatarioChange($event)">
                </app-multiplo-select>
            </div>

            <div class="form-group">
                <label for="arquivo">Arquivo</label>
                <app-input-midias
                    label="Clique ou arraste sua imagem/vídeo aqui"
                    inputId="arquivo-noticia"
                    (midiaSelected)="onArquivoSelecionado($event)"
                    (fileRemoved)="onArquivoRemovido()">
                </app-input-midias>
            </div>

            <div class="form-group">
                 <!-- <label for="descricao">Notícia</label> -->
                <app-input-word
                    placeholder="Digite o conteúdo da notícia..."
                    name="conteudo"
                    id="editor-conteudo"
                    formControlName="conteudo"
                    height="400px">
                </app-input-word>
            </div>

            <div class="container-btn">
                <button type="submit" class="btn-cadastrar">
                    {{ isEditMode ? 'Atualizar notícia' : 'Cadastrar notícia' }}
                </button>
            </div>
        </form>
    </div>

    <div class="alerts">
        <div class="alerts-container alert-success" *ngIf="successMessage">
          {{ successMessage }}
        </div>
        <div class=" alerts-container alert-danger" *ngIf="errorMessage">
            {{ errorMessage }}
        </div>
    </div>

    <app-loading *ngIf="isLoading"></app-loading>
</div>