<div class="main-container">
    <div class="banner">
        <h1>Admissões</h1>
        <p>Organize admissões e registros contratuais com eficiência.</p>
    </div>
  
    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a href="#">Home &gt; </a> <span class="breadcrumb-highlight">Admissões</span>
        </div>
        <div class="actions">
            <div class="search-container">
                <app-search (searchChange)="onSearch($event)"></app-search>
            </div>
        </div>
    </div>

    <div class="tabela-container">
        <table>
            <thead>
                <tr>
                    <th>Colaborador</th>
                    <th>Loja</th>
                    <th>Departamento</th>
                    <th>Cargo</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let admissao of admissoesPaginados">
                    <td>
                        <div class="perfil">
                            <div class="avatar" [ngStyle]="{'background-color': getRandomColor(admissao.colaborador)}">
                                <img [src]="admissao.foto?.documentoUrl" alt="Foto do Colaborador" *ngIf="admissao.foto?.documentoUrl; else defaultAvatar" />
                                <ng-template #defaultAvatar>
                                    <span>{{ getInitial(admissao.colaborador) }}</span>
                                </ng-template>
                            </div>
                            <span>{{ admissao.colaborador }}</span>
                        </div>
                    </td>
                    <td>{{ admissao.loja }}</td>
                    <td>
                        <div class="perfil">
                            <span>{{ admissao.departamento }}</span>
                        </div>
                    </td>
                    <td>{{ admissao.cargo }}</td>
                    <td>
                        <span [class.ativo]="admissao.status === 'Ativo'"
                              [class.inativo]="admissao.status === 'Inativo'">
                            {{ admissao.status }}
                        </span>
                    </td>
                    <td>
                        <div class="acoes">
                            <button class="btn-acao visualizar">
                            <img src="assets/icones/See.png" alt="Visualizar">
                            </button>
                            <button class="btn-acao edit">
                                <img src="assets/icones/Edit.png" alt="Editar">
                            </button>
                            <button class="btn-acao delete">
                                <img src="assets/icones/Delete.png" alt="Excluir">
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> 
    <div class="pagination">
        <app-pagination
        [paginaAtual]="paginaAtual"
        [totalItens]="totalItens"
        [itensPorPagina]="itensPorPagina"
        (paginaMudou)="onPaginaMudou($event)">
        </app-pagination>
    </div> 
</div>