<div class="main-container">
    <div class="banner">
        <h1>Admissões</h1>
        <p>Organize admissões e registros contratuais com eficiência.</p>
    </div>
  
    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a [routerLink]="rotaDashboard">Início &gt; </a> <span class="breadcrumb-highlight">Admissões</span>
        </div>
        <div class="actions">
            <div class="search-container">
                <app-search (searchChange)="onSearch($event)"></app-search>
            </div>
        </div>
    </div>

    <div class="progress-bar-container" *ngIf="isLoading">
        <div class="progress-bar"></div>
    </div>

    <div class="tabela-container">
        <table>
            <thead>
                <tr>
                    <th>Colaborador</th>
                    <th>Loja</th>
                    <th>Departamento</th>
                    <th>Cargo</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let colaborador of colaboradoresPaginados">
                    <td>
                        <div class="perfil">
                            <div class="avatar" [ngStyle]="{'background-color': getRandomColor(colaborador.username)}">
                                <img [src]="colaborador.foto?.documentoUrl" alt="Foto do Colaborador" *ngIf="colaborador.foto?.documentoUrl; else defaultAvatar" />
                                <ng-template #defaultAvatar>
                                    <span>{{ getInitial(colaborador.username) }}</span>
                                </ng-template>
                            </div>
                            <span>{{ colaborador.username }}</span>
                        </div>
                    </td>
                    <td><span>{{ colaborador.loja?.nome }} - {{ colaborador.loja?.endereco?.cidade }}</span></td>
                    <td>{{ colaborador.departamento?.nome }}</td>
                    <td>{{ getDescricaoCargo(colaborador.cargo) }}</td>
                    <td>
                        <span [class.ativo]="colaborador.status === 'Ativo'"
                              [class.inativo]="colaborador.status === 'Inativo'">
                            {{ colaborador.status }}
                        </span>
                    </td>
                    <td>
                        <div class="acoes">
                            <button class="btn-acao admitir" (click)="openModalCadastro(colaborador)">
                                Admitir
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div *ngIf="colaboradoresPaginados.length === 0">
        <ng-container *ngIf="mensagemBusca; else semAdmissoes">
            <div>
            <div class="alert alert-warning text-center">
                {{ mensagemBusca }}
            </div>
            </div>
        </ng-container>
        <ng-template #semAdmissoes>
            <div class="no-data-message">
            <img src="assets/imgs/empty-images/no-data.svg" alt="Sem dados">
            <p>Não há admissões cadastradas.</p>
            </div>
        </ng-template>
    </div>

    <div class="pagination">
        <app-pagination
        [paginaAtual]="paginaAtual"
        [totalItens]="totalItens"
        [itensPorPagina]="itensPorPagina"
        (paginaMudou)="onPaginaMudou($event)">
        </app-pagination>
    </div> 
</div>

<ng-template #formCadastroTemplate>
    <div class="forms-container">
        <form class="modal-form" [formGroup]="admissaoForm">
            <div class="form-group">
                <label for="dataEntrada">Data da Admissão</label>
                <input formControlName="dataEntrada" name="dataEntrada" type="date" required />
            </div>

            <div class="form-group">
                <label for="observacao">Observações</label>
                <textarea formControlName="observacao" placeholder="Digite as observações da admissão" type="text"></textarea>
            </div>
        </form>
    </div>
</ng-template>