<div class="main-container">
    <div class="banner">
        <h1>Registros</h1>
        <p>Centralize registros de advertências, atividades e outras ocorrências dos colaboradores.</p>
    </div>
  
    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a href="#">Home &gt; </a> <span class="breadcrumb-highlight"> Registros</span>
        </div>
        <div class="actions">
            <div class="search-container">
                <app-search (searchChange)="onSearch($event)"></app-search>
            </div>
            <button class="btn-cadastrar" (click)="cadastrarRegistro()">Cadastrar Registro</button>
        </div>
    </div>
</div>