.main-container {
  margin: 90px 32px 24px;
  max-width: 100%;
  background: #ffffff;
  border-radius: 24px;
  padding: 40px 64px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.banner {
  background-image: url("src/assets/imgs/capa-medicina.png");
  background-size: cover;
  background-position: center;
  padding: 32px;
  color: #ffffff;
  border-radius: 24px;
}

.banner h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
}

.banner p {
  margin: 10px 0 0;
  font-size: 1.2rem;
}

/* Breadcrumb e buscar */
.breadcrumb-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
  padding-top: 40px;
  align-items: center;
}

.breadcrumb {
  font-size: 1rem;
  color: #666261;
  margin: 0;
}

.breadcrumb a {
  color: #666;
  font-size: 16px;
  text-decoration: none;
}

.breadcrumb a:hover {
  font-size: 16px;
  text-decoration: underline;
}

.breadcrumb-highlight {
  margin-left: 5px;
  color: #008000;
  font-size: 16px;
  font-weight: 600;
}

/* buscar e button */
.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-container {
  width: 400px;
}

.btn-cadastrar {
  background: #007bff;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-cadastrar:hover {
  background: #0056b3;
}

/* Breakpoints */
@media (min-width: 1200px) {
  .main-container {
    margin: 90px 20px 20px;
    padding: 40px 56px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main-container {
    margin: 90px 20px 20px;
    padding: 40px 48px;
  }
}

@media (max-width: 767px) {
  .main-container {
    margin: 90px 20px 20px;
    padding: 20px;
  }
}
