<div class="main-container">
    <div class="banner">
        <h1>Saúde Ocupacional</h1>
        <p>Centralize exames, atestados e dados de saúde dos colaboradores.</p>
    </div>
  
    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a href="#">Home &gt; </a> <span class="breadcrumb-highlight">Saúde Ocupacional</span>
        </div>
        <div class="actions">
            <div class="search-container">
                <app-search (searchChange)="onSearch($event)"></app-search>
            </div>
            <button class="btn-cadastrar" (click)="cadastrarExame()">Cadastrar</button>
        </div>
    </div>
</div>