<div class="main-container">
    <div class="banner">
        <h1>Saúde Ocupacional</h1>
        <p>Centralize exames, atestados e dados de saúde dos colaboradores.</p>
    </div>
  
    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a href="#">Home &gt; </a> <span class="breadcrumb-highlight">Saúde Ocupacional</span>
        </div>
        <div class="actions">
            <div class="search-container">
                <app-search (searchChange)="onSearch($event)"></app-search>
            </div>
            <button class="btn-cadastrar" (click)="cadastrarExame()">Cadastrar</button>
        </div>
    </div>

    <div class="tabela-container">
        <table>
            <thead>
                <tr>
                    <th>Colaborador</th>
                    <th>Tipo Exame/Procedimento</th>
                    <th>CID-10</th>
                    <th>Data</th>
                    <th>Número de dias de afastamento</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medicina of medicinasPaginados">
                    <td>
                        <div class="perfil">
                            <div class="avatar"></div>
                            <span>{{ medicina.colaborador }}</span>
                        </div>
                    </td>
                    <td>{{ medicina.tipo }}</td>
                    <td>
                        <div class="perfil">
                            <span>{{ medicina.CID }}</span>
                        </div>
                    </td>
                    <td>{{ medicina.data }}</td>
                    <td>{{ medicina.numeroDias }}</td>
                    <td>
                        <button class="btn-acao">
                            <img src="assets/icones/See.png" alt="Visualizar">
                        </button>
                        <button class="btn-acao">
                            <img src="assets/icones/Edit.png" alt="Editar">
                        </button>
                        <button class="btn-acao">
                            <img src="assets/icones/Delete.png" alt="Excluir">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> 
    <div class="pagination">
        <app-pagination
        [paginaAtual]="paginaAtual"
        [totalItens]="totalItens"
        [itensPorPagina]="itensPorPagina"
        (paginaMudou)="onPaginaMudou($event)">
        </app-pagination>
    </div> 
</div>