<div class="main-container">
    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a (click)="goBack()">Departamentos &gt; </a> <span class="breadcrumb-highlight">Ver detalhes do departamento</span>
        </div>
    </div>
    <div class="actions">
        <h1>{{ departamento.nome }}</h1>
        <p>N° de funcionários: {{ departamento.quantidadeFuncionarios }}</p>
    </div>
</div>
<div class="subMain-container">
    <div class="divisao">
        <p>Dados gerais</p>
        <hr class="line">
    </div>
    <div class="data-itens">
        <div class="item-data">
            <label>Descrição</label>
            <p>{{ departamento.descricao || '-' }}</p>
        </div>
        <div class="data-grid">
            <div class="item-data">
                <label>Orçamento mensal</label>
                <p>R$ {{ departamento.orcamentoMensal || '-' }}</p>
            </div>
            <div class="item-data">
                <label>Localização</label>
                <p>{{ departamento.localizacao || '-' }}</p>
            </div>
        </div>
        <div class="data-grid">
            <div class="item-data">
                <label>Telefone</label>
                <p>{{ departamento.telefone || '-' }}</p>
            </div>
            <div class="item-data">
                <label>E-mail</label>
                <p>{{ departamento.email || '-' }}</p>
            </div>
        </div>
    </div>
    <div class="divisao">
        <p>Responsáveis</p>
        <hr class="line">
    </div>

    <div class="data-grid-trio" *ngFor="let responsavel of departamento.responsaveis">
        <div class="item-data">
            <div class="perfil">
                <div class="avatar" [ngStyle]="{'background-color': getRandomColor(responsavel.username)}">
                    <img [src]="responsavel.foto?.documentoUrl" alt="Foto do responsavel" class="foto-responsavel" *ngIf="responsavel.foto?.documentoUrl; else defaultAvatar" />
                    <ng-template #defaultAvatar>
                        <span>{{ getInitial(responsavel.username) }}</span>
                    </ng-template>
                </div>
                <span>{{ responsavel.username || '-' }}</span>
            </div>
        </div>
        <div class="item-data">
            <p>{{ responsavel.emailPessoal || '-' }}</p>
        </div>
        <div class="item-data">
            <p>{{ responsavel.telefoneUm || '-' }}</p>
        </div>
    </div>
</div>

<div class="subMain-container">
    <div class="divisao">
        <p>Colaboradores</p>
        <hr class="line">
    </div>

    <div class="data-grid-trio" *ngFor="let colaborador of colaboradoresPaginados">
        <div class="item-data">
            <div class="perfil">
                <div class="avatar" [ngStyle]="{'background-color': getRandomColor(colaborador.username)}">
                    <img [src]="colaborador.foto?.documentoUrl" alt="Foto do colaborador" class="foto-colaborador" *ngIf="colaborador.foto?.documentoUrl; else defaultAvatar" />
                    <ng-template #defaultAvatar>
                        <span>{{ getInitial(colaborador.username) }}</span>
                    </ng-template>
                </div>
                <span>{{ colaborador.username || '-' }}</span>
            </div>
        </div>
        <div class="item-data">
            <p>{{ getDescricaoCargo(colaborador.cargo) || '-' }}</p>
        </div>
        <div class="item-data">
            <p>{{ colaborador.loja?.nome }} - {{ colaborador.loja?.endereco?.cidade }}</p>
        </div>
    </div>
    
    <div class="pagination">
        <app-pagination
        [paginaAtual]="paginaAtual"
        [totalItens]="totalItens"
        [itensPorPagina]="itensPorPagina"
        (paginaMudou)="onPaginaMudou($event)">
        </app-pagination>
    </div> 
</div>