<main class="bg-login">
  <div class="container-recuperar">
    <div class="container-body">
      <div class="card-form">
        <div class="card-header">
          <div class="img-logo">
            <img
              src="assets/imgs/logo-john.svg"
              alt="Logo da OCJ"
              class="d-inline-block align-text-top"
            />
          </div>
        </div>

        <div class="card-envio">
          <div class="card-title">
            <h1 *ngIf="!enviado">Recuperar Senha</h1>
            <h1 *ngIf="enviado">E-mail enviado</h1>
            <p *ngIf="!enviado">
              Por favor, digite o e-mail da sua conta. Enviaremos um e-mail com
              instruções para você recuperar sua senha.
            </p>
            <p *ngIf="enviado">
              Por favor, verifique o e-mail que enviamos para <b>{{ email }}</b>
            </p>
          </div>
          <div class="alerts">
            <div class="alert alert-success" *ngIf="mensagemSucesso">
              {{ mensagemSucesso }}
            </div>

            <div class="alert alert-danger" *ngFor="let erro of errors">
              {{ erro }}
            </div>
          </div>

          <form (ngSubmit)="onSubmit()" *ngIf="!enviado">
            <div class="form-group input-container">
              <label class="small mb-1">E-mail</label>
              <input
                type="email"
                name="email"
                autocomplete="off"
                class="form-control"
                placeholder="exemplo@gmail.com"
                [(ngModel)]="email"
                required
              />
            </div>

            <div class="actions">
              <button type="button" class="btn btn-back" (click)="goBack()">
                Voltar
              </button>
              <button type="submit" class="btn btn-envio">Enviar</button>
            </div>
          </form>

          <div *ngIf="enviado" class="actions">
            <button type="button" class="btn btn-envio" (click)="reenviar()">
              Não recebeu o e-mail? Reenviar
            </button>
          </div>

          <div class="card-footer"></div>
        </div>
      </div>
    </div>
  </div>
</main>
