<div class="main-container">
    <div class="banner">
        <h1>Fórum de Notícias</h1>
        <p>Fique por dentro das últimas novidades.</p>
    </div>

    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a [routerLink]="rotaDashboard">Início &gt; </a> <span class="breadcrumb-highlight"> Fórum de Notícias</span>
        </div>
        <div class="actions">
              <div class="select-container">
                <app-select-padrao
                      label="Notícias"
                      [options]="lidas"
                      [(selectedValue)]="selectedLida"
                      (selectedValueChange)="onNoticiaChange()"
                      [showDefaultOption]="true"
                      [defaultLabel]="'Todas as noticias'"
                      [defaultValue]="''">
                </app-select-padrao>
            </div>
            <button class="btn-line" (click)="acessarCentralNoticia()" *ngIf="cargoUsuario === Permissao.ADMIN || cargoUsuario === Permissao.RH || cargoUsuario === Permissao.DIRETOR">
                Central de notícias
            </button>
        </div>
    </div>

    <div *ngIf="successMessage" class="alert alert-success">
        <span>{{ successMessage }}</span>
        <button class="close-btn" (click)="clearMessage()" aria-label="Fechar">&times;</button>
        <div class="progress-bar-sucess" [style.animation]="successMessage ? 'progressBarAnim 3s linear' : 'none'"></div>
    </div>

    <div class="progress-bar-container" *ngIf="isLoading">
        <div class="progress-bar"></div>
    </div>

    <div class="noticia-container" *ngIf="!isLoading">
        <div class="noticia-item" *ngFor="let noticia of noticiasPaginadas" [class.lida]="noticia.lida">
            <div class="noticia-tag">
                <span class="tag-bolinha" [ngStyle]="{'background': getTipoCor(noticia.tipoNoticia)}"></span>
                {{ getTipoDescricao(noticia.tipoNoticia) }}
            </div>

            <!-- Foto e título -->
            <div class="notificacao-mensagem">
                <img *ngIf="noticia.arquivo?.documentoUrl" [src]="noticia.arquivo?.documentoUrl" alt="Foto" class="avatar" />
                <div class="noticia-info">
                    <span class="noticia-titulo">{{ noticia.titulo }}</span>
                    <div class="noticia-meta">
                        <span class="noticia-data">{{ noticia.publicadaEm }}</span>
                        <span class="noticia-autor">por {{ noticia.autor.username }}</span>
                    </div>
                    <div class="noticia-visualizacoes">
                        <span>{{ noticia.qtdVisualizacoes || 0 }} visualizações</span>
                    </div>
                    <div class="noticia-resumo">
                        {{ stripHtmlTags(noticia.conteudo) | slice:0:100 }}<span *ngIf="stripHtmlTags(noticia.conteudo).length > 120">...</span>
                    </div>
                </div>
            </div>
                <button class="btn-visualizar" (click)="visualizarNoticia(noticia.id); $event.stopPropagation()">Ler notícia</button>
            </div>
        </div>
    
    <div *ngIf="noticiasPaginadas.length === 0">
        <ng-container *ngIf="mensagemBusca; else semNoticias">
            <div>
            <div class="alert alert-warning text-center">
                {{ mensagemBusca }}
            </div>
            </div>
        </ng-container>
        <ng-template #semNoticias>
            <div class="no-data-message">
            <img src="assets/imgs/empty-images/no-data.svg" alt="Sem dados">
            <p>Não há notícias disponíveis.</p>
            </div>
        </ng-template>
    </div>

    <div class="pagination">
        <app-pagination
        [paginaAtual]="paginaAtual"
        [totalItens]="totalItens"
        [itensPorPagina]="itensPorPagina"
        (paginaMudou)="onPaginaMudou($event)">
        </app-pagination>
    </div> 
</div>