<div class="main-container">
    <div class="banner">
        <h1>Fórum de Notícias</h1>
        <p>Fique por dentro das últimas novidades.</p>
    </div>

    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a [routerLink]="rotaDashboard">Início &gt; </a> <span class="breadcrumb-highlight"> Fórum de Notícias</span>
        </div>
        <div class="actions">
            <!-- Quando tiver OK descomentar
            <div class="search-container">
                <app-search (searchChange)="onSearch($event)"></app-search>
            </div>
            -->
            <button
            class="btn-cadastrar"
            *ngIf="cargoUsuario === Permissao.ADMIN || cargoUsuario === Permissao.RH"
            (click)="cadastrarNoticia()">
            Cadastrar Notícia
            </button>
        </div>
    </div>

    <div class="tabela-container">
        <table>
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Data</th>
                    <th>Destinatário</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let noticia of noticiasPaginadas">
                    <td>
                        <div class="perfil">
                            <span>{{ noticia.titulo }}</span>
                        </div>
                    </td>
                    <td>{{ noticia.data }}</td>
                    <td>
                        <span>{{ noticia.destinatario }}</span>
                    </td>
                    <td>
                        <div class="acoes">
                            <button class="btn-acao visualizar" >
                                <img src="assets/icones/See.png" alt="Visualizar">
                            </button>
                            <button class="btn-acao edit">
                                <img src="assets/icones/Edit.png" alt="Editar">
                            </button>
                            <button class="btn-acao delete">
                                <img src="assets/icones/Delete.png" alt="Excluir">
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div *ngIf="noticiasPaginadas.length === 0">
        <ng-container *ngIf="mensagemBusca; else semNoticias">
            <div>
            <div class="alert alert-warning text-center">
                {{ mensagemBusca }}
            </div>
            </div>
        </ng-container>
        <ng-template #semNoticias>
            <div class="no-data-message">
            <img src="assets/imgs/empty-images/no-data.svg" alt="Sem dados">
            <p>Não há notícias cadastradas.</p>
            </div>
        </ng-template>
    </div>

    <div class="pagination">
        <app-pagination
        [paginaAtual]="paginaAtual"
        [totalItens]="totalItens"
        [itensPorPagina]="itensPorPagina"
        (paginaMudou)="onPaginaMudou($event)">
        </app-pagination>
    </div> 
</div>