.main-container {
  margin: 90px 32px 24px;
  max-width: 100%;
  background: #ffffff;
  border-radius: 24px;
  padding: 40px 64px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.banner {
  background-image: url("src/assets/imgs/capa-noticias.png");
  background-size: cover;
  background-position: center;
  padding: 32px;
  color: #ffffff;
  border-radius: 24px;
}

.banner h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
}

.banner p {
  margin: 10px 0 0;
  font-size: 1.2rem;
}

/* Breadcrumb e button */
.breadcrumb-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
  padding-top: 40px;
  align-items: center;
}

.breadcrumb {
  font-size: 1rem;
  color: #666261;
  margin: 0;
}

.breadcrumb a {
  color: #666;
  font-size: 16px;
  text-decoration: none;
}

.breadcrumb a:hover {
  font-size: 16px;
  text-decoration: underline;
}

.breadcrumb-highlight {
  margin-left: 5px;
  color: #008000;
  font-size: 16px;
  font-weight: 600;
}

/* buscar e button */
.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.select-container {
  width: 250px;
}

.search-container {
  width: 400px;
}

.btn-cadastrar {
  background: #007bff;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-cadastrar:hover {
  background: #0056b3;
}

.btn-line {
  background: transparent;
  color: #007bff;
  border: #007bff solid 2px;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-line:hover {
  background: #0056b3;
  color: #ffffff;
  border: #0056b3 solid 2px;
}

/* notice */
.noticia-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.noticia-tag {
  position: absolute;
  top: -16px;
  right: 24px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 13px;
  font-weight: 600;
  color: var(--lm-text);
  background: #ffffff;
  border-radius: 12px;
  border: #b3b3b3 1px solid;
  padding: 4px 10px;
}

.tag-bolinha {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #429941;
  display: inline-block;
}

.noticia-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.noticia-titulo {
  font-size: 18px;
  font-weight: 600;
  color: var(--lm-text);
}

.noticia-visualizacoes {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #6e6e6e;
}

.olho-icon {
  width: 18px;
  height: 18px;
}

.noticia-resumo {
  font-size: 16px;
  color: #6e6e6e;
  margin-top: 2px;
  max-width: 400px;
  white-space: normal;
  word-break: break-word;
}

.btn-visualizar {
  background: #177ab8;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 15px;
  margin-left: 16px;
  transition: background 0.2s;
}

.btn-visualizar:hover {
  background: #16245c;
}

.noticia-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background: #edf0fc;
  border-radius: 8px;
  border: solid 1px var(--lm-border02);
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(51, 51, 51, 0.063);
}

.noticia-item:hover {
  background: #dfe4f9;
}

.noticia-item.lida {
  background-color: #fbfbfb;
  cursor: default;
}

.perfil {
  display: flex;
  align-items: center;
  gap: 10px;
}

.perfil a {
  text-decoration: none;
  color: var(--info);
  cursor: pointer;
}

.perfil a:hover {
  text-decoration: underline;
}

.noticia-meta {
  display: flex;
  gap: 12px;
  font-size: 13px;
  color: #888;
  margin-bottom: 2px;
}

.noticia-data {
  font-weight: 500;
}

.noticia-autor {
  font-style: italic;
}

/* Paginação */
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  gap: 15px;
}

/* Breakpoints */
@media (min-width: 1200px) {
  .main-container {
    margin: 90px 20px 20px;
    padding: 40px 56px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main-container {
    margin: 90px 20px 20px;
    padding: 40px 48px;
  }
}

@media (max-width: 767px) {
  .main-container {
    margin: 90px 20px 20px;
    padding: 20px;
  }

  .breadcrumb-container {
    flex-direction: column;
    width: 100%;
    gap: 24px;
  }

  .breadcrumb {
    width: 100%;
  }

  .actions {
    flex-direction: column-reverse;
    width: 100%;
  }

  .select-container {
    width: 100%;
  }

  .search-container {
    width: 100%;
  }

  button {
    width: 100%;
  }

  .noticia-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .btn-visualizar {
    margin: 0;
    margin-top: 8px;
  }
}

.image-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centered-image {
  max-width: 300px;
  width: 100%;
  height: auto;
}

.progress-bar-container {
  width: 100%;
  height: 6px;
  background-color: #e0e0e0;
  margin-top: 8px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 10px;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #007bff;
  animation: progress-animation 2s infinite linear;
}

@keyframes progress-animation {
  0% {
    width: 0;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 0;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  background: none;
  border: none;
  font-size: 20px;
  color: inherit;
  cursor: pointer;
  line-height: 1;
}

.progress-bar-sucess {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #40812d;
  opacity: 0.5;
  pointer-events: none;
}

@keyframes progressBarAnim {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
