.main-container {
  margin: 90px 32px 24px;
  max-width: 100%;
  background: #ffffff;
  border-radius: 24px;
  padding: 40px 64px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Breakpoints */
@media (min-width: 1200px) {
  .main-container {
    margin: 90px 20px 20px;
    padding: 40px 56px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main-container {
    margin: 90px 20px 20px;
    padding: 40px 48px;
  }
}

@media (max-width: 767px) {
  .main-container {
    margin: 90px 20px 20px;
    padding: 20px;
  }
}

.image-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centered-image {
  max-width: 600px;
  width: 100%;
  height: auto;
  margin: 24px;
}
