<div class="main-banner">
    <div class="banner">
        <h1>Férias</h1>
        <p>Planeje e gerencie as solicitações e períodos de férias da equipe.</p>
    </div>

    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a href="#">Home &gt; </a> 
            <span class="breadcrumb-highlight">Férias</span>
        </div>
        <div class="actions">
            <div class="select-box">
                <select [(ngModel)]="mesSelecionado" (change)="filtrarPorMes()">
                    <option value="" disabled selected>Selecione um mês</option>
                    <option *ngFor="let mes of meses" [value]="mes">
                        {{ feriasMesesDoAnoDescricoes[mes] }}
                    </option>
                    
                </select>
            </div>
            <button class="btn-cadastrar" (click)="cadastrarDepartamento()">Cadastrar Férias</button>
        </div>
    </div>
</div>
