<div class="main-container">
    <div class="banner">
        <h1>Férias</h1>
        <p>Planeje e gerencie as solicitações e períodos de férias da equipe.</p>
    </div>
  
    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a [routerLink]="rotaDashboard">Início &gt; </a> <span class="breadcrumb-highlight">Férias</span>
        </div>
        <div class="actions">
            <div class="select-container">
                <app-select-padrao
                    label="Selecione uma loja"
                    [customStyles]="{'background': '#FFFFFF'}">
                </app-select-padrao>
            </div>
            <button class="btn-cadastrar" (click)="cadastrarFerias()">Cadastrar Férias</button>
            <button class="btn-export">Exportar</button>
        </div>
    </div>

    <div *ngIf="successMessage" class="alert alert-success">
        <span>{{ successMessage }}</span>
        <button class="close-btn" (click)="clearMessage()" aria-label="Fechar">&times;</button>
        <div class="progress-bar-sucess" [style.animation]="successMessage ? 'progressBarAnim 3s linear' : 'none'"></div>
    </div>

    <div class="progress-bar-container" *ngIf="isLoading">
        <div class="progress-bar"></div>
    </div>

    <div class="tabela-container">
        <table>
            <thead>
                <tr>
                    <th>Colaborador</th>
                    <th>Mês</th>
                    <th>Início</th>
                    <th>Fim</th>
                    <th>Dias</th>
                    <th>Abono</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ferias of feriasPaginadas">
                    <td>
                        <div class="perfil">
                            <div class="avatar" [ngStyle]="{'background-color': getRandomColor(ferias.colaborador?.username)}">
                                <img [src]="ferias.colaborador?.foto?.documentoUrl" alt="Foto do colaborador" *ngIf="ferias.colaborador?.foto?.documentoUrl; else defaultAvatar" />
                                <ng-template #defaultAvatar>
                                    <span>{{ getInitial(ferias.colaborador?.username) }}</span>
                                </ng-template>
                            </div>
                            <span>{{ ferias.colaborador?.username || '-' }}</span>
                        </div>
                    </td>
                    <td>
                        <div class="perfil">
                            <span>{{ ferias.mesReferencia || '-' }}</span>
                        </div>
                    </td>
                    <td>
                        <div class="perfil">
                            <span>{{ ferias.inicioFerias || '-' }}</span>
                        </div>
                    </td>
                    <td>{{ ferias.fimFerias || '-' }}</td>
                    <td>{{ ferias.diasGozo || '-' }}</td>
                    <td>{{ ferias.abono || '-' }}</td>
                    <td>
                         <div class="acoes">
                            <button class="btn-acao visualizar" (click)="visualizarFerias(ferias.id)">
                                <img src="assets/icones/See.png" alt="Visualizar">
                            </button>
                            <button class="btn-acao edit" (click)="editarFerias(ferias.id)" *ngIf="cargoUsuario === Permissao.ADMIN || cargoUsuario === Permissao.RH || cargoUsuario === Permissao.DIRETOR">
                                <img src="assets/icones/Edit.png" alt="Editar">
                            </button>
                            <button class="btn-acao delete" (click)="openModalDeletar(ferias)" *ngIf="cargoUsuario === Permissao.ADMIN || cargoUsuario === Permissao.RH || cargoUsuario === Permissao.DIRETOR">
                                <img src="assets/icones/Delete.png" alt="Excluir">
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="feriasPaginadas.length === 0">
        <ng-container *ngIf="mensagemBusca; else semFerias">
            <div>
            <div class="alert alert-warning text-center">
                {{ mensagemBusca }}
            </div>
            </div>
        </ng-container>
        <ng-template #semFerias>
            <div class="no-data-message">
            <img src="assets/imgs/empty-images/no-data.svg" alt="Sem dados">
            <p>Não há férias cadastradas.</p>
            </div>
        </ng-template>
    </div>

    <div class="pagination">
        <app-pagination
            [paginaAtual]="paginaAtual"
            [totalItens]="totalItens"
            [itensPorPagina]="itensPorPagina"
            (paginaMudou)="onPaginaMudou($event)">
        </app-pagination>
    </div>  
</div>
