<div class="main-container">
    <div class="banner">
        <h1>Meus Produtos</h1>
        <p>Aqui você encontra seus produtos resgatados na Lojinha do John.</p>
    </div>

    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a [routerLink]="rotaDashboard">Início &gt; </a> <span class="breadcrumb-highlight">Meus Produtos</span>
        </div>
        <div class="actions">
            <!-- <div class="search-container">
                <app-search (searchChange)="onSearch($event)"></app-search>
            </div> -->
        </div>
    </div>

    <div *ngIf="successMessage" class="alert alert-success">
        <span>{{ successMessage }}</span>
        <button class="close-btn" (click)="clearMessage()" aria-label="Fechar">&times;</button>
        <div class="progress-bar-sucess" [style.animation]="successMessage ? 'progressBarAnim 3s linear' : 'none'"></div>
    </div>

    <div class="progress-bar-container" *ngIf="isLoading">
        <div class="progress-bar"></div>
    </div>

    <div class="produtos">
        <div class="produto-card" *ngFor="let produto of produtosPaginados" >
            <div class="produto-image">
                <img [src]="produto.foto?.documentoUrl || 'assets/imgs/defaut-img-produto.png'" alt="Imagem do Produto">
            </div>
            <h3>{{ produto.nome }}</h3>
            <div class="details">
                <div class="value-coin">
                    <span>
                        <img src="assets/icones/coin.svg" alt="Moeda">
                        {{ produto.valor }} Moedas
                    </span>
                </div>
            </div>        
            <div>
               <span class="resgate-btn">Produto resgatado</span>
            </div>
        </div>
    </div>

    <div *ngIf="produtosPaginados.length === 0">
        <ng-container *ngIf="mensagemBusca; else semProdutos">
            <div>
            <div class="alert alert-warning text-center">
                {{ mensagemBusca }}
            </div>
            </div>
        </ng-container>
        <ng-template #semProdutos>
            <div class="no-data-message">
            <img src="assets/imgs/empty-images/no-data.svg" alt="Sem dados">
            <p>Não há produtos resgatados.</p>
            </div>
        </ng-template>
    </div>

    <div class="pagination">
        <app-pagination
        [paginaAtual]="paginaAtual"
        [totalItens]="totalItens"
        [itensPorPagina]="itensPorPagina"
        (paginaMudou)="onPaginaMudou($event)">
        </app-pagination>
    </div> 
</div>
