<div class="main-container">
    <div class="back-title">
        <img src="assets/icones/arrow-left.svg" alt="Back" class="back-icon" (click)="goBack()">
        <span>Cadastrar colaborador</span>
    </div>
  
    <div class="forms-container">
        <form>
            <div class="divisao">
                <p>Dados gerais</p>
                <hr class="line">
            </div>

            <div class="form-group">
                <label for="foto">Foto</label>
                <app-input-img label="Clique ou arraste a foto para fazer upload" inputId="foto" (imageSelected)="onImageSelected($event, 'photo')"></app-input-img>
            </div>

            <div class="form-group">
                <label for="nome">Nome completo</label>
                <input type="text" id="nome" name="nome" class="form-control" placeholder="Digite o Nome completo" required>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="data">Data de nascimento</label>
                    <input type="text" id="data" name="data" class="form-control" placeholder="Digite a data de nascimento" required>
                </div>
                <div class="form-group">
                    <label for="estadoCivil">Estado civil</label>
                    <app-select-padrao
                      label="Selecionar estado civil"
                      [customStyles]="{'background': '#FFFFFF'}">
                    </app-select-padrao>
                </div>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="genero">Gênero</label>
                    <app-select-padrao
                      label="Selecionar gênero"
                      [customStyles]="{'background': '#FFFFFF'}">
                    </app-select-padrao>
                </div>
                <div class="form-group">
                    <label for="etnia">Raça/Etnia</label>
                    <app-select-padrao
                      label="Selecionar raça/etnia"
                      [customStyles]="{'background': '#FFFFFF'}">
                    </app-select-padrao>
                </div>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="escolaridade">Escolaridade</label>
                    <app-select-padrao
                      label="Selecionar escolaridade"
                      [customStyles]="{'background': '#FFFFFF'}">
                    </app-select-padrao>
                </div>
                <div class="form-group">
                    <label for="curso">Curso</label>
                    <input type="text" id="curso" name="curso" class="form-control" placeholder="Digite seus cursos" required>
                </div>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="nacionalidade">Nacionalidade</label>
                    <app-select-padrao
                      label="Selecionar nacionalidade"
                      [customStyles]="{'background': '#FFFFFF'}">
                    </app-select-padrao>
                </div>

                <div class="form-group">
                    <label for="naturalidade">Naturalidade</label>
                    <input type="text" id="naturalidade" name="naturalidade" class="form-control" placeholder="Digite a naturalidade" required>
                </div>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="deficiencia">Portador de deficiência?</label>
                    <app-select-padrao
                      label="Selecionar uma opção"
                      [customStyles]="{'background': '#FFFFFF'}">
                    </app-select-padrao>
                </div>

                <div class="form-group">
                    <label for="qualDeficiencia">Qual deficiência?</label>
                    <input type="text" id="qual-deficiencia" name="qual-deficiencia" class="form-control" placeholder="Digite qual deficiência" required>
                </div>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="filhos">Possui filhos?</label>
                    <app-select-padrao
                      label="Selecionar uma opção"
                      [customStyles]="{'background': '#FFFFFF'}">
                    </app-select-padrao>
                </div>

                <div class="form-group">
                    <label for="qtdFilhos">Quantidade de filhos</label>
                    <input type="text" id="qtdFilhos" name="qtdFilhos" class="form-control" placeholder="Digite o número de filhos" required>
                </div>
            </div>

            <div class="divisao">
                <p>Documentos</p>
                <hr class="line">
            </div>

            <div class="form-group">
                <label for="cpf">CPF</label>
                <input type="text" id="cpf" name="cpf" class="form-control" placeholder="Digite o CPF" required>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="rg">RG</label>
                    <input type="text" id="rg" name="rg" class="form-control" placeholder="Digite o número do RG" required>
                </div>

                <div class="form-group">
                    <label for="orgaoExpedidor">Órgão Expedidor</label>
                    <input type="text" id="orgaoExpedidor" name="orgaoExpedidor" class="form-control" placeholder="Digite o órgão expedidor" required>
                </div>

                <div class="form-group">
                    <label for="dataExpedicao">Data de Expedição</label>
                    <input type="text" id="dataExpedicao" name="dataExpedicao" class="form-control" placeholder="Digite a data de expedição" required>
                </div>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="nomeMae">Nome da mãe</label>
                    <input type="text" id="nomeMae" name="nomeMae" class="form-control" placeholder="Digite o nome da mãe" required>
                </div>

                <div class="form-group">
                    <label for="nomePai">Nome do pai</label>
                    <input type="text" id="nomePai" name="nomePai" class="form-control" placeholder="Digite o nome do pai" required>
                </div>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="cnh">CNH</label>
                    <input type="text" id="cnh" name="cnh" class="form-control" placeholder="Digite o número da CNH" required>
                </div>

                <div class="form-group">
                    <label for="reservista">Reservista</label>
                    <input type="text" id="reservista" name="reservista" class="form-control" placeholder="Digite a data de nascimento" required>
                </div>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="tituloEleitor">Titulo de Eleitor</label>
                    <input type="text" id="tituloEleitor" name="tituloEleitor" class="form-control" placeholder="Digite o titulo de eleitor" required>
                </div>

                <div class="form-group">
                    <label for="zonaEleitoral">Zona Eleitoral</label>
                    <input type="text" id="zonaEleitoral" name="zonaEleitoral" class="form-control" placeholder="Digite a zona eleitoral" required>
                </div>

                <div class="form-group">
                    <label for="secaoEleitoral">Seção Eleitoral</label>
                    <input type="text" id="secaoEleitoral" name="secaoEleitoral" class="form-control" placeholder="Digite o número da seção" required>
                </div>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="pis">PIS</label>
                    <input type="text" id="pis" name="pis" class="form-control" placeholder="Digite o PIS" required>
                </div>

                <div class="form-group">
                    <label for="ctpsNum">CTPS NUM</label>
                    <input type="text" id="ctpsNum" name="ctpsNum" class="form-control" placeholder="Digite o CTPS NUM" required>
                </div>

                <div class="form-group">
                    <label for="ctpsSerie">CTPS Série</label>
                    <input type="text" id="ctpsSerie" name="ctpsSerie" class="form-control" placeholder="Digite o CTPS Série" required>
                </div>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="banco">Banco</label>
                    <input type="text" id="banco" name="banco" class="form-control" placeholder="Digite o nome do banco" required>
                </div>

                <div class="form-group">
                    <label for="agencia">Agência</label>
                    <input type="text" id="agencia" name="agencia" class="form-control" placeholder="Digite o número da agência" required>
                </div>

                <div class="form-group">
                    <label for="contaCorrente">Conta corrente</label>
                    <input type="text" id="contaCorrente" name="contaCorrente" class="form-control" placeholder="Digite o número da conta" required>
                </div>
            </div>

            <div class="divisao">
                <p>Contato</p>
                <hr class="line">
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="telefone1">Telefone 1</label>
                    <input type="text" id="telefone1" name="telefone1" class="form-control" placeholder="Digite o telefone" required>
                </div>

                <div class="form-group">
                    <label for="telefone2">Telefone 2</label>
                    <input type="text" id="telefone2" name="telefone2" class="form-control" placeholder="Digite o telefone">
                </div>
            </div>

            <div class="form-group">
                <label for="emailEmpresarial">E-mail empresarial</label>
                <input type="email" id="emailEmpresarial" name="emailEmpresarial" class="form-control" placeholder="Digite o e-mail" required>
            </div>

            <div class="form-group">
                <label for="instagram">Instagram</label>
                <input type="text" id="instagram" name="instagram" class="form-control" placeholder="Digite o instagram" required>
            </div>

            <div class="divisao">
                <p>Endereço</p>
                <hr class="line">
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="cep">CEP</label>
                    <input type="text" id="cep" name="cep" class="form-control" placeholder="Digite o CEP" required>
                </div>
                <div class="form-group">
                    <label for="bairro">Bairro</label>
                    <input type="text" id="bairro" name="bairro" class="form-control" placeholder="Digite o bairro" required>
                </div>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="rua">Rua</label>
                    <input type="text" id="rua" name="rua" class="form-control" placeholder="Digite a rua" required>
                </div>
                <div class="form-group">
                    <label for="numero">Número</label>
                    <input type="text" id="numero" name="numero" class="form-control" placeholder="Digite o número" required>
                </div>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="complemento">Complemento</label>
                    <input type="text" id="complemento" name="complemento" class="form-control" placeholder="Digite um complemento" required>
                </div>
                <div class="form-group">
                    <label for="logradouro">Logradouro</label>
                    <input type="text" id="logradouro" name="logradouro" class="form-control" placeholder="Digite o logradouro" required>
                </div>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <app-select-padrao
                      label="Selecione o estado"
                      [customStyles]="{'background': '#FFFFFF'}">
                    </app-select-padrao>
                </div>
                <div class="form-group">
                    <label for="cidade">Cidade</label>
                    <app-select-padrao
                      label="Selecione a cidade"
                      [customStyles]="{'background': '#FFFFFF'}">
                    </app-select-padrao>
                </div>
            </div>

            <div class="form-group">
                <label for="pais">País</label>
                <app-select-padrao
                  label="Selecione o país"
                  [customStyles]="{'background': '#FFFFFF'}">
                </app-select-padrao>
            </div>

            <div class="divisao">
                <p>Dados contratuais</p>
                <hr class="line">
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="loja">Loja</label>
                    <app-select-padrao
                      label="Selecione loja"
                      [customStyles]="{'background': '#FFFFFF'}">
                    </app-select-padrao>
                </div>
                <div class="form-group">
                    <label for="dataAdmissao">Data de admissão</label>
                    <input type="text" id="dataAdmissao" name="dataAdmissao" class="form-control" placeholder="Digite a data de admissão" required>
                </div>
            </div>

            <div class="form-group">
                <label for="departamento">Departamento</label>
                <app-select-padrao
                  label="Selecione o departamento"
                  [customStyles]="{'background': '#FFFFFF'}">
                </app-select-padrao>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="cargo">Cargo</label>
                    <app-select-padrao
                      label="Selecione um cargo"
                      [customStyles]="{'background': '#FFFFFF'}">
                    </app-select-padrao>
                </div>
                <div class="form-group">
                    <label for="grauHierarquico">Grau hierárquico</label>
                    <app-select-padrao
                      label="Selecionar grau hierárquico "
                      [customStyles]="{'background': '#FFFFFF'}">
                    </app-select-padrao>
                </div>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="tipoContrato">Tipo de contratação</label>
                    <app-select-padrao
                      label="Selecionar tipo de contratação"
                      [customStyles]="{'background': '#FFFFFF'}">
                    </app-select-padrao>
                </div>
                <div class="form-group">
                    <label for="salario">Salário</label>
                    <input type="text" id="salario" name="salario" class="form-control" placeholder="Digite o valor" required>
                </div>
            </div>

            <div class="form-group">
                <label for="departamento">Período de experiência</label>
                <app-select-padrao
                  label="Selecionar período de experiência"
                  [customStyles]="{'background': '#FFFFFF'}">
                </app-select-padrao>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="dataContrato">Data do contrato</label>
                    <input type="text" id="dataContrato" name="dataContrato" class="form-control" placeholder="Digite o data do contrato" required>
                </div>
                <div class="form-group">
                    <label for="duracaoContrato">Duração do contrato</label>
                    <input type="text" id="duracaoContrato" name="duracaoContrato" class="form-control" placeholder="Digite a duração do contrato" required>
                </div>
                <div class="form-group">
                    <label for="terminoContrato">Data do término do contrato</label>
                    <input type="text" id="terminoContrato" name="terminoContrato" class="form-control" placeholder="Digite a data de término do contrato" required>
                </div>
            </div>

            <div class="form-group">
                <label for="responsavel">Superior responsável</label>
                <app-select-padrao
                  label="Selecionar responsável"
                  [customStyles]="{'background': '#FFFFFF'}">
                </app-select-padrao>
            </div>

            <div class="form-group">
                <label>Status</label>
                <div class="radio-group">
                    <div class="radio-item">
                        <input type="radio" id="statusAtivo" name="status" value="ativo" [(ngModel)]="status" checked>
                        <label for="statusAtivo">Ativo</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="statusInativo" name="status" value="inativo" [(ngModel)]="status">
                        <label for="statusInativo">Inativo</label>
                    </div>
                </div>
            </div>

            <div class="divisao">
                <p>Credenciais de acesso</p>
                <hr class="line">
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="emailPessoal">E-mail pessoal</label>
                    <input type="email" id="emailPessoal" name="emailPessoal" class="form-control" placeholder="Digite o e-mail" required>
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha" class="form-control" placeholder="Digite a senha" required>
                </div>
            </div>

            <div class="container-btn">
                <button type="submit" class="btn-cadastrar">
                    Cadastrar colaborador
                </button>
            </div>
        </form>
    </div>
</div>