<div class="main-container">
    <div class="back-title">
        <img src="assets/icones/arrow-left.svg" alt="Back" class="back-icon" (click)="goBack()">
        <span>Cadastrar loja</span>
    </div>
  
    <div class="forms-container">
        <form (ngSubmit)="onSubmit()" [formGroup]="lojaForm">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" formControlName="nome" class="form-control" placeholder="Digite o nome da loja" required>
            </div>

            <div class="divisao">
                <p>Endereço</p>
                <hr class="line">
            </div>

            <div formGroupName="endereco">
                <div class="input-duo">
                    <div class="form-group">
                        <label for="cep">CEP</label>
                        <input type="text" id="cep" name="cep" formControlName="cep" class="form-control" placeholder="Digite o CEP" required>
                    </div>
                    <div class="form-group">
                        <label for="bairro">Bairro</label>
                        <input type="text" id="bairro" name="bairro" formControlName="bairro" class="form-control" placeholder="Digite o bairro" required>
                    </div>
                </div>
    
                <div class="input-duo">
                    <div class="form-group">
                        <label for="rua">Rua</label>
                        <input type="text" id="rua" name="rua" formControlName="rua" class="form-control" placeholder="Digite a rua" required>
                    </div>
                    <div class="form-group">
                        <label for="numero">Número</label>
                        <input type="text" id="numero" name="numero" formControlName="numero" class="form-control" placeholder="Digite o número" required>
                    </div>
                </div>
    
                <div class="input-duo">
                    <div class="form-group">
                        <label for="complemento">Complemento</label>
                        <input type="text" id="complemento" name="complemento" formControlName="complemento" class="form-control" placeholder="Digite um complemento" required>
                    </div>
                    <div class="form-group">
                        <label for="logradouro">Logradouro</label>
                        <input type="text" id="logradouro" name="logradouro" formControlName="logradouro" class="form-control" placeholder="Digite o logradouro" required>
                    </div>
                </div>

                <div class="input-duo">
                    <div class="form-group">
                        <label for="estado">Estado</label>
                        <app-select-padrao
                          label="Selecione o estado">
                        </app-select-padrao>
                    </div>
                    <div class="form-group">
                        <label for="cidade">Cidade</label>
                        <app-select-padrao
                          label="Selecione a cidade">
                        </app-select-padrao>
                    </div>
                </div>
            </div>

            <div class="container-btn">
                <button type="submit" class="btn-cadastrar">
                    Cadastrar loja
                </button>
            </div>
        </form>
    </div>
    <div *ngIf="isLoading">Carregando...</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>