<div class="main-container">
    <div class="banner">
        <h1>Cursos</h1>
        <p>Explore uma variedade de cursos para expandir seu conhecimento e desenvolver novas habilidades.</p>
    </div>
  
    <div class="breadcrumb-container">
        <div class="breadcrumb">
          <a href="#">Home &gt; </a> <span class="breadcrumb-highlight"> Cursos</span>
        </div>
        <button class="btn-cadastrar" (click)="cadastrarAula()">Cadastrar Aula</button>
    </div>
      
    <div class="cursos">
        <div class="curso-card" *ngFor="let modulo of modulosPaginados" >
            <div class="curso-image">
                <img [src]="modulo.image" alt="Imagem do curso">
            </div>
            <h3>{{ modulo.description }}</h3>
            <div class="details">
                <p>
                    <img src="assets/icones/videoaula.svg" alt="Ícone de vídeo" class="icon" />
                    120 aulas
                </p>
                <p>
                    <img src="assets/icones/time.svg" alt="Ícone de tempo" class="icon" />
                    50 horas
                </p>
            </div>        
            <button (click)="navegarParaModulo(modulo.value)" class="access-btn">Acessar curso →</button>
        </div>
    </div>

    <div class="pagination">
        <app-pagination
        [paginaAtual]="paginaAtual"
        [totalItens]="totalItens"
        [itensPorPagina]="itensPorPagina"
        (paginaMudou)="onPaginaMudou($event)">
        </app-pagination>
    </div>
</div>