<div class="main-banner">
    <div class="banner">
        <h1>Cursos</h1>
        <p>Explore uma variedade de cursos para expandir seu conhecimento e desenvolver novas habilidades.</p>
    </div>
  
    <div class="breadcrumb">
        <a href="#">Home &gt; </a> <span class="breadcrumb-highlight"> Cursos</span>
    </div>
  
    <div class="courses">
        <div class="course-card">
            <div class="course-image">
                <img src="assets/imgs/one.jpg" alt="Imagem do curso">
            </div>
            <h3>Curso de Onboarding</h3>
            <div class="details">
                <p>
                    <img src="assets/imgs/video.svg" alt="Ícone de vídeo" class="icon" />
                    120 aulas
                </p>
                <p>
                    <img src="assets/imgs/file.svg" alt="Ícone de material extra" class="icon" />
                    10 materiais extras
                </p>
            </div>        
            <button class="access-btn">Acessar curso →</button>
        </div>

        <div class="course-card">
            <div class="course-image">
                <img src="assets/icones/john-logo.svg" alt="Imagem do curso">
            </div>
            <h3>Nome do curso</h3>
            <div class="details">
                <p>
                    <img src="assets/imgs/video.svg" alt="Ícone de vídeo" class="icon" />
                    120 aulas
                </p>
                <p>
                    <img src="assets/imgs/file.svg" alt="Ícone de material extra" class="icon" />
                    10 materiais extras
                </p>
            </div>        
            <button class="access-btn">Acessar curso →</button>
        </div>

        <div class="course-card">
            <div class="course-image">
                <img src="assets/icones/john-logo.svg" alt="Imagem do curso">
            </div>
            <h3>Nome do curso</h3>
            <div class="details">
                <p>
                    <img src="assets/imgs/video.svg" alt="Ícone de vídeo" class="icon" />
                    120 aulas
                </p>
                <p>
                    <img src="assets/imgs/file.svg" alt="Ícone de material extra" class="icon" />
                    10 materiais extras
                </p>
            </div>        
            <button class="access-btn">Acessar curso →</button>
        </div>

        <div class="course-card">
            <div class="course-image">
                <img src="assets/icones/john-logo.svg" alt="Imagem do curso">
            </div>
            <h3>Nome do curso</h3>
            <div class="details">
                <p>
                    <img src="assets/imgs/video.svg" alt="Ícone de vídeo" class="icon" />
                    120 aulas
                </p>
                <p>
                    <img src="assets/imgs/file.svg" alt="Ícone de material extra" class="icon" />
                    10 materiais extras
                </p>
            </div>        
            <button class="access-btn">Acessar curso →</button>
        </div>

        <div class="course-card">
            <div class="course-image">
                <img src="assets/icones/john-logo.svg" alt="Imagem do curso">
            </div>
            <h3>Nome do curso</h3>
            <div class="details">
                <p>
                    <img src="assets/imgs/video.svg" alt="Ícone de vídeo" class="icon" />
                    120 aulas
                </p>
                <p>
                    <img src="assets/imgs/file.svg" alt="Ícone de material extra" class="icon" />
                    10 materiais extras
                </p>
            </div>        
            <button class="access-btn">Acessar curso →</button>
        </div>

        <div class="course-card">
            <div class="course-image">
                <img src="assets/icones/john-logo.svg" alt="Imagem do curso">
            </div>
            <h3>Nome do curso</h3>
            <div class="details">
                <p>
                    <img src="assets/imgs/video.svg" alt="Ícone de vídeo" class="icon" />
                    120 aulas
                </p>
                <p>
                    <img src="assets/imgs/file.svg" alt="Ícone de material extra" class="icon" />
                    10 materiais extras
                </p>
            </div>        
            <button class="access-btn">Acessar curso →</button>
        </div>
    </div>
  
    <div class="pagination">
        <button class="active">1</button>
        <button>2</button>
        <button>3</button>
    </div>
</div>

