<div class="main-container">
    <div class="header-container">
      <div class="back-title">
        <img
          src="assets/icones/arrow-left.svg"
          alt="Back"
          class="back-icon"
          (click)="goBack()"
        />
        <span>Meu Perfil</span>
      </div>
      <div class="toggle-container">
        <span>{{ themeService.isDarkMode() ? "Modo Escuro" : "Modo Claro" }}</span>
        <label class="switch">
          <input type="checkbox" [checked]="themeService.isDarkMode()" (change)="toggleDarkMode()"/>
          <span class="slider round"></span>
        </label>
      </div>
    </div>
  
    <div *ngIf="!showChangePassword" class="container-perfil">
      <div class="profile-attributes">
        <div class="container-photo">
          <div class="image-container" (click)="isEditing && fileInput.click()">
            <ng-container *ngIf="selectedImageUrl && selectedImageUrl !== ''; else noPhoto">
              <img [src]="selectedImageUrl" class="profile-photo" alt="Foto de perfil"/>
            </ng-container>
            <ng-template #noPhoto>
              <div
                class="profile-photo avatar-fallback"
                [ngStyle]="{'background-color': getRandomColor(user.username)}"
              >
                <span>{{ getInitial(user.username) }}</span>
              </div>
            </ng-template>
            <input #fileInput type="file" accept="image/*" (change)="onImageSelected($event)" style="display: none;"/>
          </div>
          <div *ngIf="isEditing" class="edit-profile-photo">
            <button (click)="fileInput.click()">Alterar foto</button>
          </div>
        </div>
        <div *ngIf="!isEditing" class="profile-name">
            <h4>{{ user.username || '-' }}</h4>
            <span>{{ user.loja || '-' }}</span>
          </div>
      </div>
      <div class="data-profile" *ngIf="!isEditing">
        <div class="container-duo">
            <div class="data-item">
                <label class="label-item">E-mail pessoal:</label>
                <span>{{ user.emailPessoal || '-' }}</span>
            </div>
            <div class="data-item">
                <label class="label-item">E-mail empresarial:</label>
                <span>{{ user.emailEmpresarial || '-' }}</span>
            </div>
        </div>
        <div class="container-duo">
            <div class="data-item">
                <label class="label-item">Telefone 1:</label>
                <span>{{ user.telefoneUm || '-' }}</span>
            </div>
            <div class="data-item">
                <label class="label-item">Telefone 2:</label>
                <span>{{ user.telefoneDois || '-' }}</span>
            </div>
        </div>
      </div>
      <form class="data-profile-edit" *ngIf="isEditing" (ngSubmit)="saveChanges()" #perfilForm="ngForm">
        <div class="form-group">
          <div class="data-edit form-group">
            <label for="username">Nome:</label>
            <input [(ngModel)]="user.username" id="username" name="username" type="text" class="input-perfil" placeholder="Insira seu nome">
          </div>
          <div class="data-edit form-group">
            <label for="emailPessoal">E-mail pessoal:</label>
            <input [(ngModel)]="user.emailPessoal" type="email" id="emailPessoal" name="emailPessoal" class="input-perfil" placeholder="Insira seu e-mail">
          </div>
          <div class="data-edit form-group">
            <label for="emailEmpresarial">E-mail empresarial:</label>
            <input [(ngModel)]="user.emailEmpresarial" id="email2" name="emailEmpresarial" type="email" class="input-perfil" placeholder="Insira seu e-mail">
          </div>
          <div class="data-edit form-group">
            <label for="telefoneUm">Telefone 1:</label>
            <input [(ngModel)]="user.telefoneUm" id="telefoneUm" name="telefoneUm" type="text" class="input-perfil" placeholder="(00) 00000-0000" mask="(00) 00000-0000" [dropSpecialCharacters]="false">
          </div>
          <div class="data-edit form-group">
            <label for="telefoneDois">Telefone 2:</label>
            <input [(ngModel)]="user.telefoneDois" id="telefoneDois" name="telefoneDois" type="text" class="input-perfil" placeholder="(00) 00000-0000" mask="(00) 00000-0000" [dropSpecialCharacters]="false">
          </div>
        </div>
        <div class="container-btn">
          <button type="button" class="btn btn-line" (click)="cancelEdit()">Cancelar</button>
          <button type="submit" class="btn btn-edit">Salvar</button>
        </div>
      </form>
    </div>
    <div class="container-btn" *ngIf="!isEditing && !showChangePassword">
      <button class="btn btn-edit" (click)="toggleEdit()">Editar Perfil</button>
      <button class="btn btn-line" (click)="toggleChangePassword()">Alterar senha</button>
    </div>
    <div class="mensg-repostas">
      <div *ngIf="successMessage" class="alert alert-success">
        <span>{{ successMessage }}</span>
        <button class="close-btn" (click)="clearMessage()" aria-label="Fechar">&times;</button>
        <div class="progress-bar" [style.animation]="successMessage ? 'progressBarAnim 3s linear' : 'none'"></div>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger">
        <span>{{ errorMessage }}</span>
        <button class="close-btn" (click)="clearMessage()" aria-label="Fechar">&times;</button>
        <div class="progress-bar" [style.animation]="errorMessage ? 'progressBarAnim 3s linear' : 'none'"></div>
      </div>

      <!-- Formulário de alteração de senha -->
      <div class="change-password-form form-group" *ngIf="showChangePassword">
        <form (ngSubmit)="changePassword()" #changePasswordForm="ngForm" class="change-password-form">
          <div class="input-senha">
            <label for="oldPassword">Senha atual</label>
            <input [type]="passwordVisible['oldPassword'] ? 'text' : 'password'" id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword" class="input-perfil" placeholder="Insira sua senha atual" required>
            <div class="input-icon" type="button" (click)="togglePasswordVisibility('oldPassword')">
                <img *ngIf="!passwordVisible['oldPassword']" src="assets/icones/eye-open.svg" alt="Mostrar senha" class="toggle-password"/>
                <img *ngIf="passwordVisible['oldPassword']" src="assets/icones/eye-closed.svg" alt="Mostrar senha" class="toggle-password"/>
            </div>
          </div>

          <div>
             <div class="input-senha">
              <label for="newPassword">Nova senha</label>
              <input [type]="passwordVisible['newPassword'] ? 'text' : 'password'" id="newPassword" [(ngModel)]="newPassword" name="newPassword" class="input-perfil" placeholder="Insira sua nova senha" required>
              <div class="input-icon" type="button" (click)="togglePasswordVisibility('newPassword')">
                  <img *ngIf="!passwordVisible['newPassword']" src="assets/icones/eye-open.svg" alt="Mostrar senha" class="toggle-password"/>
                  <img *ngIf="passwordVisible['newPassword']" src="assets/icones/eye-closed.svg" alt="Mostrar senha" class="toggle-password"/>
              </div>
            </div>
            
            <div class="password-rules-container">
              <div class="password-rules">
                <p [class.valid]="senhaMin8">
                  <span [class.valid]="senhaMin8">•</span>
                  Mínimo de 8 caracteres
                </p>
                <p [class.valid]="senhaMaiuscula">
                  <span [class.valid]="senhaMaiuscula">•</span>
                  Pelo menos 1 letra maiúscula
                </p>
                <p [class.valid]="senhaMinuscula">
                  <span [class.valid]="senhaMinuscula">•</span>
                  Pelo menos 1 letra minúscula
                </p>
                <p [class.valid]="senhaNumero">
                  <span [class.valid]="senhaNumero">•</span>
                  Pelo menos 1 número
                </p>
                <p [class.valid]="senhaEspecial">
                  <span [class.valid]="senhaEspecial">•</span>
                  Pelo menos 1 caractere especial
                </p>
              </div>
            </div>
          </div>

          <div class="input-senha">
            <label for="confirmPassword">Confirmar nova senha</label>
            <input [type]="passwordVisible['confirmPassword'] ? 'text' : 'password'" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" class="input-perfil" placeholder="Confirme sua nova senha" required>
            <div class="input-icon" type="button" (click)="togglePasswordVisibility('confirmPassword')">
                <img *ngIf="!passwordVisible['confirmPassword']" src="assets/icones/eye-open.svg" alt="Mostrar senha" class="toggle-password"/>
                <img *ngIf="passwordVisible['confirmPassword']" src="assets/icones/eye-closed.svg" alt="Mostrar senha" class="toggle-password"/>
            </div>
          </div>
          <div class="container-btn">
            <button type="button" class="btn btn-line" (click)="toggleChangePassword()">Cancelar</button>
            <button type="submit" class="btn btn-edit">Salvar nova senha</button>
          </div>
        </form>
      </div>
  </div>