<div class="main-container">
    <div class="header-container">
      <div class="back-title">
        <img
          src="assets/icones/arrow-left.svg"
          alt="Back"
          class="back-icon"
          (click)="goBack()"
        />
        <span>Meu Perfil</span>
      </div>
      <div class="toggle-container">
        <span>{{ themeService.isDarkMode() ? "Modo Escuro" : "Modo Claro" }}</span>
        <label class="switch">
          <input type="checkbox" [checked]="themeService.isDarkMode()" (change)="toggleDarkMode()"/>
          <span class="slider round"></span>
        </label>
      </div>
    </div>
  
    <div class="container-perfil">
      <div class="profile-attributes">
        <div class="container-photo">
          <div class="image-container" (click)="isEditing && fileInput.click()">
            <img [src]="selectedImageUrl || defaultImageUrl" class="profile-photo" alt="Foto de perfil"/>
            <input #fileInput type="file" accept="image/*" (change)="onImageSelected($event)" style="display: none;"/>
          </div>
          <div *ngIf="isEditing" class="edit-profile-photo">
            <button (click)="fileInput.click()">Alterar foto</button>
          </div>
        </div>
        <div *ngIf="!isEditing" class="profile-name">
            <h4>{{ user.username }}</h4>
            <span>{{ user.loja }}</span>
          </div>
      </div>
      <div class="data-profile" *ngIf="!isEditing">
        <div class="container-duo">
            <div class="data-item">
                <label class="label-item">E-mail pessoal:</label>
                <span>{{ user.emailPessoal || '-' }}</span>
            </div>
            <div class="data-item">
                <label class="label-item">E-mail empresarial:</label>
                <span>{{ user.emailEmpresarial || '-' }}</span>
            </div>
        </div>
        <div class="container-duo">
            <div class="data-item">
                <label class="label-item">Telefone 1:</label>
                <span>{{ user.telefoneUm || '-' }}</span>
            </div>
            <div class="data-item">
                <label class="label-item">Telefone 2:</label>
                <span>{{ user.telefoneDois || '-' }}</span>
            </div>
        </div>
      </div>
      <form class="data-profile-edit" *ngIf="isEditing" (ngSubmit)="saveChanges()" #perfilForm="ngForm">
        <div class="form-group">
          <div class="data-edit form-group">
            <label for="username">Nome:</label>
            <input [(ngModel)]="user.username" id="username" name="username" type="text" class="input-perfil">
          </div>
          <div class="data-edit form-group">
            <label for="emailPessoal">E-mail pessoal:</label>
            <input [(ngModel)]="user.emailPessoal" type="email" id="emailPessoal" name="emailPessoal" class="input-perfil">
          </div>
          <div class="data-edit form-group">
            <label for="emailEmpresarial">E-mail empresarial:</label>
            <input [(ngModel)]="user.emailEmpresarial" id="email2" name="emailEmpresarial" type="email" class="input-perfil">
          </div>
          <div class="data-edit form-group">
            <label for="telefoneUm">Telefone 1:</label>
            <input [(ngModel)]="user.telefoneUm" id="telefoneUm" name="telefoneUm" type="text" class="input-perfil">
          </div>
          <div class="data-edit form-group">
            <label for="telefoneDois">Telefone 2:</label>
            <input [(ngModel)]="user.telefoneDois" id="telefoneDois" name="telefoneDois" type="text" class="input-perfil">
          </div>
        </div>
        <div class="container-btn">
          <button type="button" class="btn btn-line" (click)="cancelEdit()">Cancelar</button>
          <button type="submit" class="btn btn-edit">Salvar</button>
        </div>
      </form>
    </div>
    <div class="container-btn" *ngIf="!isEditing">
      <button class="btn btn-edit" (click)="toggleEdit()">Editar Perfil</button>
      <button class="btn btn-line">Alterar senha</button>
    </div>
  </div>