.main-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 100%;
}

/* Divisão */
.divisao {
  width: 100%;
}

.divisao p {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

/* card */
.obs-card {
  border-radius: 12px;
  padding: 24px 20px;
  margin-bottom: 8px;
  background: transparent;
  border: 1px solid #e0e0e0;
}

.data-itens {
  margin: 16px 0;
}

.data-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item-data label {
  color: #716f6e;
}

.item-data p {
  word-break: break-word;
  white-space: pre-line;
  max-width: 100%;
}

.data-grid-trio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.data-grid-quad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

/* Paginação */
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  gap: 15px;
}

/* Breakpoints */
@media (min-width: 1200px) {
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container-scroll {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    width: 100%;
    gap: 12px;
  }
}

@media (max-width: 767px) {
  .cards-container {
    flex-direction: column;
  }

  .data-grid-trio {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }

  .data-grid-trio > .item-data,
  .data-grid-quad > .item-data {
    min-width: 200px;
    flex: auto;
  }
}
