<div class="main-container">
    <div class="cards-container">
      <div class="card info-card">
          <span>0</span>
          <div class="categoria-card">
              <div class="icone-card">
                  <img src="assets/icones/dashboard/lojas.svg" alt="Loja icone">
              </div>
              <p>Moedas</p>
          </div>
      </div>
      <div class="card info-card">
          <span>12</span>
          <div class="categoria-card">
              <div class="icone-card">
                  <img src="assets/icones/dashboard/cursos.svg" alt="Curso icone">
              </div>
              <p>Aulas assistidas</p>
          </div>
      </div>
      <div class="card info-card">
          <span>12</span>
          <div class="categoria-card">
              <div class="icone-card">
                  <img src="assets/icones/dashboard/cursos.svg" alt="Curso icone">
              </div>
              <p>Módulos finalizados</p>
          </div>
      </div>
    </div>

    <div class="divisao">
        <p>Cursos</p>
        <hr class="line">
    </div>

</div>