<div class="main-container">
    <div class="banner">
        <h1>Departamentos</h1>
        <p>Um espaço onde você pode administrar todos os Departamentos.</p>
    </div>
  
    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a href="#">Home &gt; </a> <span class="breadcrumb-highlight"> Departamentos</span>
        </div>
        <div class="actions">
            <div class="search-container">
                <app-search (searchChange)="onSearch($event)"></app-search>
            </div>
            <button class="btn-cadastrar" (click)="cadastrarDepartamento()">Cadastrar Departamento</button>
        </div>
    </div>

    <div class="progress-bar-container" *ngIf="isLoading">
        <div class="progress-bar"></div>
    </div>

    <div class="tabela-container">
        <table>
            <thead>
                <tr>
                    <th>Departamento</th>
                    <th>Responsáveis</th>
                    <th>N° de funcionários</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let departamento of departamentosPaginados">
                    <td>
                        <div class="perfil">
                            <span>{{ departamento.nome }}</span>
                        </div>
                    </td>
                    <td>
                        <div class="perfil" *ngIf="departamento.responsaveis && departamento.responsaveis.length > 0">
                            <div *ngFor="let responsavel of departamento.responsaveis" class="responsavel">
                                <div class="avatar" [ngStyle]="{'background-color': getRandomColor(responsavel.username)}">
                                    <img [src]="responsavel.foto?.documentoUrl" alt="Foto do Responsável" class="foto-responsavel" *ngIf="responsavel.foto?.documentoUrl; else defaultAvatar" />
                                    <ng-template #defaultAvatar>
                                        <span>{{ getInitial(responsavel.username) }}</span>
                                    </ng-template>
                                </div>
                              <span>{{ responsavel.username }}</span>
                            </div>
                        </div>
                        <div *ngIf="!departamento.responsaveis || departamento.responsaveis.length === 0">
                            <span>Sem responsáveis</span>
                        </div>
                    </td>
                    <td>{{ departamento.quantidadeFuncionarios }}</td>
                    <td>
                        <div class="acoes">
                            <button class="btn-acao visualizar" (click)="visualizarDepartamento(departamento.id)">
                                <img src="assets/icones/See.png" alt="Visualizar">
                            </button>
                            <button class="btn-acao edit" (click)="editarDepartamento(departamento.id)">
                                <img src="assets/icones/Edit.png" alt="Editar">
                            </button>
                            <button class="btn-acao delete" (click)="openModalDeletar(departamento)">
                                <img src="assets/icones/Delete.png" alt="Excluir">
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> 
    <div class="pagination">
        <app-pagination
        [paginaAtual]="paginaAtual"
        [totalItens]="totalItens"
        [itensPorPagina]="itensPorPagina"
        (paginaMudou)="onPaginaMudou($event)">
        </app-pagination>
    </div> 
</div>