<div class="main-container">
    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a (click)="goBack()">Lojas &gt; </a> <span class="breadcrumb-highlight">Ver detalhes da loja</span>
        </div>
    </div>
    <div class="actions">
        <h1>{{ loja.nome }}</h1>
        <p>N° de funcionários: {{ loja.quantidadeFuncionarios }}</p>
    </div>
</div>
<div class="subMain-container">
    <div class="divisao">
        <p>Endereço</p>
        <hr class="line">
    </div>
    <div class="data-itens">
        <div class="data-grid">
            <div class="item-data">
                <label>Cidade</label>
                <p>{{ loja.endereco.cidade || '-' }}</p>
            </div>
            <div class="item-data">
                <label>Estado</label>
                <p>{{ loja.endereco.estado || '-' }}</p>
            </div>
        </div>
        <div class="data-grid">
            <div class="item-data">
                <label>Rua</label>
                <p>{{ loja.endereco.rua || '-' }}</p>
            </div>
            <div class="item-data">
                <label>Número</label>
                <p>{{ loja.endereco.numero || '-' }}</p>
            </div>
        </div>
        <div class="data-grid">
            <div class="item-data">
                <label>Bairro</label>
                <p>{{ loja.endereco.bairro || '-' }}</p>
            </div>
            <div class="item-data">
                <label>CEP</label>
                <p>{{ loja.endereco.cep || '-' }}</p>
            </div>
        </div>
        <div class="data-grid">
            <div class="item-data">
                <label>Complemento</label>
                <p>{{ loja.endereco.complemento || '-' }}</p>
            </div>
            <div class="item-data">
                <label>Logradouro</label>
                <p>{{ loja.endereco.logradouro || '-' }}</p>
            </div>
        </div>
    </div>
    <div class="divisao">
        <p>Superior responsável</p>
        <hr class="line">
    </div>

    <div class="data-grid-trio">
        <div class="item-data">
            <div class="perfil">
                 <div class="avatar" [ngStyle]="{'background-color': getRandomColor(loja.supervisor.username)}">
                    <img [src]="loja.supervisor.foto?.documentoUrl" alt="Foto do supervisor" *ngIf="loja.supervisor.foto?.documentoUrl; else defaultAvatar" />
                    <ng-template #defaultAvatar>
                        <span>{{ getInitial(loja.supervisor.username) }}</span>
                    </ng-template>
                </div>
                <span>{{ loja.supervisor.username || '-' }}</span>
            </div>
        </div>
        <div class="item-data">
            <p>{{ getDescricaoCargo(loja.supervisor.cargo) || '-' }}</p>
        </div>
        <div class="item-data">
            <p>{{ loja.supervisor.telefoneUm || '-' }}</p>
        </div>
    </div>
</div>

<div class="subMain-container">
    <div class="divisao">
        <p>Colaboradores</p>
        <hr class="line">
    </div>

    <div class="container-scroll">
        <div class="data-grid-quad" *ngFor="let colaborador of colaboradoresPaginados">
            <div class="item-data">
                <div class="perfil">
                    <div class="avatar" [ngStyle]="{'background-color': getRandomColor(colaborador.username)}">
                        <img [src]="colaborador.foto?.documentoUrl" alt="Foto do colaborador" *ngIf="colaborador.foto?.documentoUrl; else defaultAvatar" />
                        <ng-template #defaultAvatar>
                            <span>{{ getInitial(colaborador.username) }}</span>
                        </ng-template>
                    </div>
                    <span>{{ colaborador.username || '-' }}</span>
                </div>
            </div>
            <div class="item-data">
                <p>{{ getDescricaoCargo(colaborador.cargo) || '-' }}</p>
            </div>
            <div class="item-data">
                <p>{{ colaborador.departamento?.nome || '-' }}</p>
            </div>
            <div class="item-data">
                <p>{{ colaborador.telefoneUm || '-' }}</p>
            </div>
        </div>
    </div>

    <div class="pagination">
        <app-pagination
        [paginaAtual]="paginaAtual"
        [totalItens]="totalItens"
        [itensPorPagina]="itensPorPagina"
        (paginaMudou)="onPaginaMudou($event)">
        </app-pagination>
    </div> 
</div>