.main-container {
  margin: 90px 32px 24px;
  max-width: 100%;
  background: #ffffff;
  border-radius: 24px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.subMain-container {
  margin: 24px 32px 24px;
  max-width: 100%;
  background: #ffffff;
  border-radius: 24px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Breadcrumb e buscar */
.breadcrumb-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  align-items: center;
}

.breadcrumb {
  font-size: 1rem;
  color: #666261;
  margin: 0;
}

.breadcrumb a {
  color: #666;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.breadcrumb a:hover {
  font-size: 16px;
  text-decoration: underline;
}

.breadcrumb-highlight {
  margin-left: 5px;
  color: #008000;
  font-size: 16px;
  font-weight: 600;
}
