<div class="main-container">
    <div class="banner">
        <h1>Lojinha do John</h1>
        <p>Compre produtos na Lojinha do John usando as suas moedas.</p>
    </div>

    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a href="#">Home &gt; </a> <span class="breadcrumb-highlight"> Lojinha do John</span>
        </div>
        <button
        class="btn-cadastrar"
        *ngIf="cargoUsuario === Permissao.ADMIN || cargoUsuario === Permissao.RH"
        (click)="cadastrarProduto()">
        Cadastrar Produto
      </button>
    </div>

    <div class="image-center">
        <img src="assets/imgs/embreve.png" alt="Funcionalidade disponível em breve" class="centered-image">
    </div>
</div>
