<div class="main-container">
    <div class="banner">
        <h1>Lojinha do John</h1>
        <p>Compre produtos na Lojinha do John usando as suas moedas.</p>
    </div>

    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a [routerLink]="rotaDashboard">Início &gt; </a> <span class="breadcrumb-highlight"> Lojinha do John</span>
        </div>
        <div class="actions">
            <div class="search-container">
                <app-search (searchChange)="onSearch($event)"></app-search>
            </div>
            <button
                class="btn-cadastrar"
                *ngIf="cargoUsuario === Permissao.ADMIN || cargoUsuario === Permissao.RH"
                (click)="cadastrarProduto()">
                Cadastrar Produto
            </button>
        </div>
    </div>

    <div class="produtos">
        <div class="produto-card" *ngFor="let produto of produtosPaginados" >
            <div class="produto-image">
                <img [src]="produto.foto?.documentoUrl" alt="Imagem do Produto">
            </div>
            <h3>{{ produto.nome }}</h3>
            <div class="details">
                <div class="value-coin">
                    <span>
                        <img src="assets/icones/coin.svg" alt="Moeda">
                        {{ produto.valor }} Moedas
                    </span>
                </div>
            </div>        
            <div>
                <button class="resgate-btn">Resgatar Produto</button>
                <button class="accesso-btn" *ngIf="cargoUsuario === Permissao.ADMIN || cargoUsuario === Permissao.RH" (click)="detalhesProduto(produto.id)">
                    Acessar Produto
                </button>
            </div>
        </div>
    </div>

    <div class="pagination">
        <app-pagination
        [paginaAtual]="paginaAtual"
        [totalItens]="totalItens"
        [itensPorPagina]="itensPorPagina"
        (paginaMudou)="onPaginaMudou($event)">
        </app-pagination>
    </div> 
</div>
