<div class="main-container">
    <div class="banner">
        <h1>Feedbacks</h1>
        <p>Centralize os feedbacks dados aos colaboradores da empresa.</p>
    </div>
  
    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a href="#">Home &gt; </a> <span class="breadcrumb-highlight"> Feedbacks</span>
        </div>
        <div class="actions">
            <div class="search-container">
                <app-search (searchChange)="onSearch($event)"></app-search>
            </div>
            <button class="btn-cadastrar" (click)="cadastrarFeedback()">Cadastrar Feedback</button>
        </div>
    </div>
</div>