<div class="main-container">
    <div class="banner">
        <h1>Aniversariantes</h1>
        <p>Acompanhe e celebre os aniversários dos colaboradores de forma especial.</p>
    </div>
  
    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a [routerLink]="rotaDashboard">Início &gt; </a> <span class="breadcrumb-highlight"> Aniversariantes</span>
        </div>
        <div class="actions">
            <div class="select-container">
                <app-select-padrao
                    label="Selecione um mês"
                    [customStyles]="{'background': '#FFFFFF'}"
                    [options]="meses"
                    [(selectedValue)]="selectedMes"
                    (selectedValueChange)="filtrarPorMes()">
                </app-select-padrao>
            </div>

            <button class="btn-export">Exportar</button>
        </div>
    </div>

    <div class="tabela-container">
        <table>
            <thead>
                <tr>
                    <th>Data de nascimento</th>
                    <th>Funcionário</th>
                    <th>Loja</th>
                    <th>Departamento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aniversario of aniversariosPaginados">
                    <td>
                        <div class="perfil">
                            <span>{{ aniversario.data }}</span>
                        </div>
                    </td>
                    <td>
                        <div class="perfil">
                            <div class="avatar"></div>
                            <span>{{ aniversario.colaborador }}</span>
                        </div>
                    </td>
                    <td>
                        <div class="perfil">
                            <span>{{ aniversario.loja }}</span>
                        </div>
                    </td>
                    <td>{{ aniversario.departamento }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="aniversariosPaginados.length === 0">
        <ng-container *ngIf="mensagemBusca; else semAniversarios">
            <div>
            <div class="alert alert-warning text-center">
                {{ mensagemBusca }}
            </div>
            </div>
        </ng-container>
        <ng-template #semAniversarios>
            <div class="no-data-message">
            <img src="assets/imgs/empty-images/no-data.svg" alt="Sem dados">
            <p>Não há aniversariantes disponiveis.</p>
            </div>
        </ng-template>
    </div>

    <div class="pagination">
        <app-pagination
            [paginaAtual]="paginaAtual"
            [totalItens]="totalItens"
            [itensPorPagina]="itensPorPagina"
            (paginaMudou)="onPaginaMudou($event)">
        </app-pagination>
    </div>  
</div>