.main-container {
  margin: 90px 32px 24px;
  max-width: 100%;
  background: #ffffff;
  border-radius: 24px;
  padding: 40px 64px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.banner {
  background-image: url("src/assets/imgs/capa-ani.png");
  background-size: cover;
  background-position: center;
  padding: 32px;
  color: #ffffff;
  border-radius: 24px;
}

.banner h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
}

.banner p {
  margin: 10px 0 0;
  font-size: 1.2rem;
}

/* Breadcrumb e buscar */
.breadcrumb-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
  padding-top: 40px;
  align-items: center;
}

.breadcrumb {
  font-size: 1rem;
  color: #666261;
  margin: 0;
}

.breadcrumb a {
  color: #666;
  font-size: 16px;
  text-decoration: none;
}

.breadcrumb a:hover {
  font-size: 16px;
  text-decoration: underline;
}

.breadcrumb-highlight {
  margin-left: 5px;
  color: #008000;
  font-size: 16px;
  font-weight: 600;
}

/* select e button */
.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.select-container {
  width: 300px;
}

.btn-export {
  background: transparent;
  color: #007bff;
  border: #007bff solid 2px;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-export:hover {
  background: #0056b3;
  color: #ffffff;
  border: #0056b3 solid 2px;
}

/* tabela */
.tabela-container {
  width: 100%;
  overflow-x: auto;
  border: #b5b5b5 solid 1px;
  border-radius: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

th,
td {
  text-align: left;
  padding: 12px 16px;
}

th {
  background: #f15623f1;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

td {
  font-size: 16px;
  color: #666;
  padding: 16px;
}

tr:nth-child(even) {
  background: #fafafa;
}

tr:hover {
  background-color: #eaf1e5;
}

.perfil {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 30px;
  height: 30px;
  background: #ddd;
  border-radius: 50%;
}

.ativo {
  color: green;
  font-weight: bold;
}

.inativo {
  color: red;
  font-weight: bold;
}

.btn-acao {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 5px;
}

.btn-acao img {
  width: 18px;
  height: 18px;
}

/* Paginação */
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  gap: 15px;
}

/* Breakpoints */
@media (min-width: 1200px) {
  .main-container {
    margin: 90px 20px 20px;
    padding: 40px 56px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main-container {
    margin: 90px 20px 20px;
    padding: 40px 48px;
  }
}

@media (max-width: 767px) {
  .main-container {
    margin: 90px 20px 20px;
    padding: 20px;
  }
}
