<div class="main-banner">
    <div class="banner">
        <h1>Aniversariantes</h1>
        <p>Acompanhe e celebre os aniversários dos colaboradores de forma especial.</p>
    </div>
  
    <div class="breadcrumb-container">
        <div class="breadcrumb">
            <a href="#">Home &gt; </a> <span class="breadcrumb-highlight"> Aniversariantes</span>
        </div>
        <div class="actions">
            <div class="select-box">
                <select [(ngModel)]="mesSelecionado" (change)="filtrarPorMes()">
                    <option value="" disabled selected>Selecione um mês</option>
                    <option *ngFor="let mes of meses" [value]="mes">
                        {{ feriasMesesDoAnoDescricoes[mes] }}
                    </option>
                    
                </select>
            </div>
        </div>
    </div>
</div>