<div class="main-container">
    <div class="back-title">
        <img src="assets/icones/arrow-left.svg" alt="Back" class="back-icon" (click)="goBack()">
        <span>Buscar aulas</span>
    </div>

    <div class="buscar-container">
        <div class="actions">
            <div class="select-container">
                <app-select-padrao
                  label="Selecione um módulo"
                  [customStyles]="{'background': '#FFFFFF'}"
                  [options]="modulos"
                  [(selectedValue)]="selectedModulo">
                </app-select-padrao>
            </div>
            <button class="btn-buscar">Buscar</button>
            <button class="btn-line">Limpar</button>
        </div>
    </div>

    <div class="tabela-container" [ngClass]="{'tabela-container': true, 'no-data': aulasPaginadas.length === 0}">
        <table *ngIf="aulasPaginadas.length > 0; else noDataTemplate">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th>Data do Cadastro</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aula of aulasPaginadas">
                    <td>
                        <div class="perfil">
                            <span>{{ aula.id }}</span>
                        </div>
                    </td>
                    <td>{{ aula.titulo }}</td>
                    <td>
                        <span>{{ aula.dataCadastro }}</span>
                    </td>
                    <td>
                        <button class="btn-acao">
                            <img src="assets/icones/Edit.png" alt="Editar">
                        </button>
                        <button class="btn-acao">
                            <img src="assets/icones/Delete.png" alt="Excluir">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-template #noDataTemplate>
            <div class="no-data-message">
                <img src="assets/imgs/empty-images/no-data.svg" alt="Sem dados">
                <p>Selecione um modulo para buscar as aulas.</p>
            </div>
        </ng-template>
    </div> 
    <div class="pagination">
        <app-pagination
        [paginaAtual]="paginaAtual"
        [totalItens]="totalItens"
        [itensPorPagina]="itensPorPagina"
        (paginaMudou)="onPaginaMudou($event)">
        </app-pagination>
    </div> 
</div>