<div class="main-container">
    <div class="back-title">
        <img src="assets/icones/arrow-left.svg" alt="Back" class="back-icon" (click)="goBack()">
        <span> {{ isEditMode ? 'Editar aula' : 'Cadastrar aula' }}</span>
    </div>

  
    <div class="forms-container">
        <form (ngSubmit)="onSubmit()" [formGroup]="cadastroAula">
            <div class="input-duo">
                <div class="form-group">
                    <label for="modulo">Módulo da aula</label>
                    <app-select-padrao
                      label="Selecione um módulo"
                      [customStyles]="{'background': '#FFFFFF'}"
                      [options]="modulo"
                      [(selectedValue)]="selectedModulo">
                    </app-select-padrao>
                </div>

                <div class="form-group">
                    <label for="qtdMoedas">Qtd. de moedas</label>
                    <input type="text" id="qtdMoedas" name="qtdMoedas" formControlName="qtdMoedas" class="form-control" placeholder="Digite o quantidade de moedas" required>
                </div>
            </div>

            <div class="form-group">
                <label for="videoAula">Video da aula</label>
                <app-input-video label="Clique ou arraste o video para fazer upload" inputId="videoAula" (videoSelected)="onVideoSelected($event, 'video')" [videoPreview]="videoPreview"></app-input-video>
            </div>

            <div class="form-group">
                <label for="nomeAula">Nome da aula</label>
                <input type="text" id="nomeAula" name="nomeAula" formControlName="titulo" class="form-control" placeholder="Digite o nome da aula" required>
            </div>

            <div class="form-group">
                <label for="descricaoAula">Descricao da aula</label>
                <textarea type="text" id="descricaoAula" name="descricaoAula" formControlName="descricao" class="form-control" placeholder="Digite a descricao da aula" rows="3" required></textarea>
            </div>

            <div class="form-group">
                <label for="arquivos">Material da aula</label>
                <app-input-arquivos 
                    (arquivosSelecionados)="onArquivosSelecionados($event)"
                    formControlName="arquivos">
                </app-input-arquivos>
            </div>

            <div class="container-btn">
                <button type="submit" class="btn-cadastrar">
                    {{ isEditMode ? 'Atualizar aula' : 'Cadastrar aula' }}
                </button>
            </div>
        </form>

        <div *ngIf="isLoading" class="overlay-loading">
            <div class="spinner"></div>
        </div>
          
        <div class="alerts">
            <div class="alerts-container alert-success" *ngIf="successMessage">
              {{ successMessage }}
            </div>
            <div class=" alerts-container alert-danger" *ngIf="errorMessage">
                {{ errorMessage }}
            </div>
        </div>
    </div>
</div>