.main-container {
  margin: 90px 32px 24px;
  max-width: 100%;
  padding: 32px;
  overflow: hidden;
}

.banner {
  padding: 32px;
  background: #AFCEBD;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.welcome {
  display: flex;
  flex-direction: column;
}

.welcome h1 {
  font-size: 32px;
  font-weight: 700;
  color: #cb4417;
}

.welcome p {
  font-size: 16px;
  color: #4d4a49;
}

/* clima */
.climate {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  gap: 2px;
}

.title-clima h3 {
  color: #252525;
  font-size: 16px;
  font-weight: 500;
}

.temperatura {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.temperatura img {
  width: 60px;
  height: 60px;
}

.temperatura span {
  color: #252525;
  font-size: 26px;
  font-weight: 700;
}

.descricao h6 {
  color: #252525;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
