<div class="main-container">
  <div class="banner">
    <div class="welcome">
      <h1>👋 Bem-vindo, {{ usuario?.username }}</h1>
      <div class="motivational-message">
        <p>"{{ motivationalMessage.quote }}"</p>
        <span class="author">{{ motivationalMessage.author }}</span>
      </div>
    </div>

    <div class="climate">
      <div class="title-clima">
        <h3>Clima de {{ weatherData.name }} </h3>
      </div>
      <div class="temperatura">
        <img [src]="iconUrl" alt="Ícone do clima">
        <span>{{ temperature | number:'1.0-0' }} °C</span>
      </div>
      <div class="descricao">
        <h6>Vento: {{ windSpeed }} m/s, {{ weatherDescription }}</h6>
      </div>
    </div>
  </div>

  <div class="containers-dashboard">
    <div class="cards-container">
      <div class="card info-card">
          <span> {{ totalLojas }} </span>
          <div class="categoria-card">
              <div class="icone-card">
                  <img src="assets/icones/dashboard/lojas.svg" alt="Loja icone">
              </div>
              <p>Total de Lojas</p>
          </div>
      </div>
      <div class="card info-card">
          <span> {{ totalGestores }} </span>
          <div class="categoria-card">
              <div class="icone-card">
                  <img src="assets/icones/dashboard/gerentes.svg" alt="Gerente icone">
              </div>
              <p>Total de Gestores</p>
          </div>
      </div>
      <div class="card info-card">
          <span> {{ totalColaboradores }} </span>
          <div class="categoria-card">
              <div class="icone-card">
                  <img src="assets/icones/dashboard/colaboradores.svg" alt="Colaborador icone">
              </div>
              <p>Total de Colaboradores</p>
          </div>
      </div>
      <div class="card info-card">
          <span>{{ quantidadeCursos }}</span>
          <div class="categoria-card">
              <div class="icone-card">
                  <img src="assets/icones/dashboard/cursos.svg" alt="Curso icone">
              </div>
              <p>Módulos de Cursos</p>
          </div>
      </div>
    </div>

    <div class="graficos-container">
       <div class="duo-container">
         <app-grafico-rosquinha
                [series]="seriesEscolaridade"
                [labels]="labelsEscolaridade"
                colorPalette="palette8"
                title="Funcionarios por escolaridade"
                [height]="400"
                [tooltipFormatter]="tooltipFuncionario"
                [showLegend]="true">
          </app-grafico-rosquinha>
          <app-grafico-pizza
                [series]="seriesGenero"
                [labels]="labelsGenero"
                colorPalette="palette2"
                title="Funcionarios por gênero"
                [height]="400"
                [tooltipFormatter]="tooltipFuncionario"
                [showLegend]="true">
          </app-grafico-pizza>
      </div>
      
      <app-grafico-barra-vertical
            [series]="seriesFuncionariosPorLoja"
            [categories]="categoriesFuncionariosPorLoja"
            [colors]="['#66D3CC']"
            title="Funcionários por loja">
      </app-grafico-barra-vertical>

      <div class="duo-container">
         <app-grafico-pizza
                [series]="seriesCargo"
                [labels]="labelsCargo"
                colorPalette="palette2"
                title="Funcionários por cargo"
                [height]="400"
                [tooltipFormatter]="tooltipFuncionario"
                [showLegend]="true">
          </app-grafico-pizza>
          <app-grafico-rosquinha
                [series]="seriesFaixaEtaria"
                [labels]="labelsFaixaEtaria"
                colorPalette="palette2"
                title="Funcionários por grupo de idade"
                [height]="400"
                [tooltipFormatter]="tooltipFuncionario"
                [showLegend]="true">
          </app-grafico-rosquinha>
      </div>

      <app-grafico-barra-vertical
            [series]="seriesTempoEmpresa"
            [categories]="categoriesTempoEmpresa"
            [colors]="['#42085d', '#611f7f', '#921fbc', '#8d09ca', '#8d55b6', '#bb7fe7']"
            title="Funcionários por tempo de empresa">
      </app-grafico-barra-vertical>

      <app-grafico-barra-horizontal
            [series]="seriesStatusExperiencia"
            [categories]="categoriesStatusExperiencia"
            [colors]="['#FEB019']"
            title="Funcionários por período de experiência">
      </app-grafico-barra-horizontal>

      <app-grafico-barra-vertical
            [series]="seriesOrcamentoDepartamento"
            [categories]="categoriesOrcamentoDepartamento"
            [colors]="['#5C6BC0']"
            title="Orçamento por departamento">
      </app-grafico-barra-vertical>

      <div class="duo-container">
          <app-grafico-linha
              [series]="seriesAdmissoesPorMes"
              [categories]="categoriesAdmissoesPorMes"
              [colors]="['#58D9FF']"
              title="Admissões"
              totalLabel="Total"
              [showTotal]="true"
              [subtitle]="'Total: ' + totalAdmissoesPorMes">
          </app-grafico-linha>

          <app-grafico-linha
                [series]="seriesDemissoesPorMes"
                [categories]="categoriesDemissoesPorMes"
                [colors]="['#ED5362']"
                title="Demissões"
                totalLabel="Total"
                [showTotal]="true"
                [subtitle]="'Total: ' + totalDemissoesPorMes">
          </app-grafico-linha>
      </div>
    </div>
  </div>
</div>