<mat-toolbar class="mat-toolbar-fixed d-flex justify-content-between">
    <button mat-icon-button class="btn" (click)="toggleSidenav()">
        <mat-icon class="button-menu">{{ sidenav.opened ? 'close' : 'menu' }}</mat-icon>
    </button>

    <a class="navbar-brand mx-auto" routerLink="/usuario/dashboard">
        <img src="assets/icones/john-logo.svg" alt="" style="padding: 10px; height: 65px;" class="d-inline-block align-text-top">
    </a>

    <div class="header-user">
        <div class="qtd-moedas">
          <img src="assets/icones/coin.svg" alt="Ícone de Moedas" class="Moeda" />
          <h5><span [class.animando]="valorAnimadoMoedas !== qtdMoedas">{{ valorAnimadoMoedas }}</span> moedas</h5>
        </div>
        <!-- User Profile -->
        <div class="profile-info">
          <div class="user-photo" *ngIf="fotoUsuario; else fallbackPhoto">
            <img [src]="fotoUsuario" alt="Foto do usuário">
          </div>
          <ng-template #fallbackPhoto>
            <div
              class="user-initial"
              [style.background-color]="getRandomColor(nomeUsuario)"
            >
              {{ getInitial(nomeUsuario) }}
            </div>
          </ng-template>
          <div class="user-info">
            <h3>{{ nomeUsuario }}</h3>
            <span>{{ permissaoUsuario }}</span>
          </div>
        </div>
        <button #dropdownToggle class="dropdown-button" (click)="toggleDropdown()" id="dropdown-button">
          <img src="assets/icones/carret-white.svg" alt="Dropdown Icon" class="dropdown-icon" />
        </button>
      
        <!-- Dropdown Menu -->
        <div class="dropdown-menu" id="dropdown-menu" [ngClass]="{ 'show': isDropdownOpen }">
          <button class="dropdown-item" (click)="verPerfil()">
             Meu Perfil
          </button>
          <button class="dropdown-item" (click)="verMeusProdutos()">
             Meus Produtos
          </button>
          <button class="dropdown-item" (click)="logout()">
             Sair
          </button>
        </div>
    </div>
</mat-toolbar>

<mat-drawer-container>
    <mat-drawer #sidenav [mode]="getSidenavMode()" [opened]="isSidenavOpen()" class="mat-drawer-sidenav">
        <mat-nav-list class="pt-5">
            <div class="heading-home">Home</div>
            
            <a  *ngIf="isAdmin()"  mat-list-item routerLink="/usuario/dashboard-admin" [ngClass]="{'active-link': isActive('/usuario/dashboard-admin')}">
                <img src="assets/icones/inicio.svg" alt="Ícone de Painel de Controle" class="icon">
                <span class="ml-2">Início</span>
            </a>

            <a  *ngIf="isColaborador()" mat-list-item routerLink="/usuario/dashboard-colaborador" [ngClass]="{'active-link': isActive('/usuario/dashboard-colaborador')}">
                <img src="assets/icones/inicio.svg" alt="Ícone de Painel de Controle" class="icon">
                <span class="ml-2">Início</span>
            </a>

            <a *ngIf="isGerente()" mat-list-item routerLink="/usuario/dashboard-gerente" [ngClass]="{'active-link': isActive('/usuario/dashboard-gerente')}">
              <img src="assets/icones/inicio.svg" alt="Ícone de Painel de Controle" class="icon">
              <span class="ml-2">Início</span>
            </a>

            <a *ngIf="isRH()" mat-list-item routerLink="/usuario/dashboard-rh" [ngClass]="{'active-link': isActive('/usuario/dashboard-rh')}">
            <img src="assets/icones/inicio.svg" alt="Ícone de Painel de Controle" class="icon">
            <span class="ml-2">Início</span>
            </a>

            <ng-container *ngIf="cargoUsuario === Permissao.ADMIN || cargoUsuario === Permissao.RH">         
            <div class="heading-home">Administrativo</div>
            <div>
                <div>
                    <div class="sub-menu" aria-expanded="false" (click)="toggleGeralMenu()">
                      <span>Geral</span>
                      <img src="assets/icones/seta-down.svg" alt="Ícone de Seta" class="icon-sub" [ngClass]="{'icon-rotate': isGeralMenuOpen}">
                    </div>
                    <div class="sub-menu-item" *ngIf="isGeralMenuOpen">
                      <div>
                        <a mat-list-item routerLink="/usuario/lojas-john" [ngClass]="{'active-link': isActive('/usuario/lojas-john')}">
                            <img src="assets/icones/store.svg" alt="Ícone de Aula" class="icon">
                          <span>Lojas</span>
                        </a>
                      </div>
                      <div>
                        <a mat-list-item routerLink="/usuario/departamentos-da-empresa" [ngClass]="{'active-link': isActive('/usuario/departamentos-da-empresa')}">
                            <img src="assets/icones/departamentos.svg" alt="Ícone de Aula" class="icon">
                          <span>Departamentos</span>
                        </a>
                      </div>
                      <div>
                        <a mat-list-item routerLink="/usuario/gerentes-lojas" [ngClass]="{'active-link': isActive('/usuario/gerentes-lojas')}">
                            <img src="assets/icones/user-ge.svg" alt="Ícone de Gerentes" class="icon">
                          <span>Gerentes</span>
                        </a>
                      </div>
                      <div>
                        <a mat-list-item routerLink="/usuario/colaboradores-das-lojas" [ngClass]="{'active-link': isActive('/usuario/colaboradores-das-lojas')}" >
                            <img src="assets/icones/users.svg" alt="Ícone de Meus Funcionários" class="icon">
                          <span>Colaboradores</span>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div>
                    <div class="sub-menu" aria-expanded="false" (click)="toggleRHMenu()">
                      <span>RH</span>
                      <img src="assets/icones/seta-down.svg" alt="Ícone de Seta" class="icon-sub" [ngClass]="{'icon-rotate': isRHMenuOpen}">
                    </div>
                    <div class="sub-menu-item" *ngIf="isRHMenuOpen">
                      <div>
                        <a mat-list-item routerLink="/usuario/admissoes" [ngClass]="{'active-link': isActive('/usuario/admissoes')}">
                            <img src="assets/icones/admitir.svg" alt="Ícone de Aula" class="icon">
                          <span>Admissões</span>
                        </a>
                      </div>
                      <div>
                        <a mat-list-item routerLink="/usuario/demissoes" [ngClass]="{'active-link': isActive('/usuario/demissoes')}">
                            <img src="assets/icones/demitir.svg" alt="Ícone de Aula" class="icon">
                          <span>Demissões</span>
                        </a>
                      </div>
                      <div>
                        <a mat-list-item routerLink="/usuario/renovar-contrato" [ngClass]="{'active-link': isActive('/usuario/renovar-contrato')}">
                            <img src="assets/icones/renovar.svg" alt="Ícone de Aula" class="icon">
                          <span>Renovar Contrato</span>
                        </a>
                      </div>
                      <div>
                        <a mat-list-item routerLink="/usuario/saude-ocupacional" [ngClass]="{'active-link': isActive('/usuario/saude-ocupacional')}">
                            <img src="assets/icones/heart.svg" alt="Ícone de Aula" class="icon">
                          <span>Saúde Ocupacional</span>
                        </a>
                      </div>
                      <div>
                        <a mat-list-item routerLink="/usuario/registros" [ngClass]="{'active-link': isActive('/usuario/registros')}">
                            <img src="assets/icones/agenda.svg" alt="Ícone de Aula" class="icon">
                          <span>Registros</span>
                        </a>
                      </div>
                      <div>
                        <a mat-list-item routerLink="/usuario/feedbacks" [ngClass]="{'active-link': isActive('/usuario/feedbacks')}">
                            <img src="assets/icones/balao.svg" alt="Ícone de Gerentes" class="icon">
                          <span>Feedbacks</span>
                        </a>
                      </div>
                      <div>
                        <a mat-list-item routerLink="/usuario/aniversariantes-do-mes" [ngClass]="{'active-link': isActive('/usuario/aniversariantes-do-mes')}" >
                            <img src="assets/icones/gift.svg" alt="Ícone de Meus Funcionários" class="icon">
                          <span>Aniversariantes</span>
                        </a>
                      </div>
                      <div>
                        <a mat-list-item routerLink="/usuario/ferias" [ngClass]="{'active-link': isActive('/usuario/ferias')}" >
                            <img src="assets/icones/ferias.svg" alt="Ícone de Meus Funcionários" class="icon">
                          <span>Férias</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
            </ng-container>

            <div class="heading-home">Recursos</div>
            <a mat-list-item routerLink="/usuario/cursos-disponiveis" [ngClass]="{'active-link': isActive('/usuario/cursos-disponiveis')}">
                <img src="assets/icones/couse.svg" alt="Ícone de Aula" class="icon">
                <span class="ml-2">Cursos</span>
            </a>
            <a mat-list-item routerLink="/usuario/forum-de-noticias" [ngClass]="{'active-link': isActive('/usuario/forum-de-noticias')}">
                <img src="assets/icones/forum.svg" alt="Ícone de Questões" class="icon">
                <span class="ml-2">Fórum de Notícias</span>
            </a>
            <a mat-list-item routerLink="/usuario/fale-com-o-dono" [ngClass]="{'active-link': isActive('/usuario/fale-com-o-dono')}" >
                <img src="assets/icones/chat.svg" alt="Ícone de Meus Filtros" class="icon">
                <span class="ml-2">Fale com o Dono</span>
            </a>
            <a mat-list-item routerLink="/usuario/lojinha-do-john" [ngClass]="{'active-link': isActive('/usuario/lojinha-do-john')}" >
                <img src="assets/icones/sstore.svg" alt="Ícone de Meus Filtros" class="icon">
                <span class="ml-2">Lojinha</span>
            </a>
            <a mat-list-item routerLink="/usuario/progressos" [ngClass]="{'active-link': isActive('/usuario/progressos')}" >
                <img src="assets/icones/progresso.svg" alt="Ícone de Meus Filtros" class="icon">
                <span class="ml-2">Progresos</span>
            </a>
            <a mat-list-item routerLink="/usuario/financeiro" [ngClass]="{'active-link': isActive('/usuario/financeiro')}" >
                <img src="assets/icones/powerBI.svg" alt="Ícone de Meus Filtros" class="icon">
                <span class="ml-2">Financeiro</span>
            </a>
        

        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="mat-drawer-content">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
