<mat-toolbar class="mat-toolbar-fixed d-flex justify-content-between">
    <button mat-icon-button class="btn" (click)="toggleSidenav()">
        <mat-icon class="button-menu">{{ sidenav.opened ? 'close' : 'menu' }}</mat-icon>
    </button>

    <a class="navbar-brand mx-auto" routerLink="/usuario/dashboard">
        <img src="assets/icones/john-logo.svg" alt="" style="padding: 10px; height: 65px;" class="d-inline-block align-text-top">
    </a>

    <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false"
        aria-controls="collapseLayouts">
        <div class="sb-nav-link-icon">
            <a class="cor btn btn-logout" (click)="logout();"> Sair 
                <img src="assets/icones/sair-john.svg" alt="Ícone de Sair" class="icon">
            </a>
        </div>
    </a>
</mat-toolbar>

<mat-drawer-container>
    <mat-drawer #sidenav [mode]="getSidenavMode()" [opened]="isSidenavOpen()" class="mat-drawer-sidenav">
        <mat-nav-list class="pt-5">
            <div class="heading-home">Home</div>

            <a mat-list-item routerLink="/usuario/dashboard" [ngClass]="{'active-link': isActive('/usuario/dashboard')}">
                <img src="assets/icones/inicio.svg" alt="Ícone de Painel de Controle" class="icon">
                <span class="ml-2">Início</span>
            </a>            
            
            <div class="heading-home">Administrativo</div>
            <a mat-list-item routerLink="/usuario/painel-de-aulas" [ngClass]="{'active-link': isActive('/usuario/painel-de-aulas')}">
                <img src="assets/icones/store.svg" alt="Ícone de Aula" class="icon">
                <span class="ml-2">Lojas</span>
            </a>
            <a mat-list-item routerLink="/usuario/questoes" [ngClass]="{'active-link': isActive('/usuario/questoes')}">
                <img src="assets/icones/user-ge.svg" alt="Ícone de Questões" class="icon">
                <span class="ml-2">Gerentes</span>
            </a>
            <a mat-list-item routerLink="/usuario/filtro" [ngClass]="{'active-link': isActive('/usuario/filtro')}" >
                <img src="assets/icones/users.svg" alt="Ícone de Meus Filtros" class="icon">
                <span class="ml-2">Funcionários</span>
            </a>

            <div class="heading-home">Área</div>
            <a mat-list-item routerLink="/usuario/painel-de-aulas" [ngClass]="{'active-link': isActive('/usuario/painel-de-aulas')}">
                <img src="assets/icones/couse.svg" alt="Ícone de Aula" class="icon">
                <span class="ml-2">Cursos</span>
            </a>
            <a mat-list-item routerLink="/usuario/questoes" [ngClass]="{'active-link': isActive('/usuario/questoes')}">
                <img src="assets/icones/forum.svg" alt="Ícone de Questões" class="icon">
                <span class="ml-2">Fórum de Nóticias</span>
            </a>
            <a mat-list-item routerLink="/usuario/filtro" [ngClass]="{'active-link': isActive('/usuario/filtro')}" >
                <img src="assets/icones/chat.svg" alt="Ícone de Meus Filtros" class="icon">
                <span class="ml-2">Canal</span>
            </a>
            <a mat-list-item routerLink="/usuario/filtro" [ngClass]="{'active-link': isActive('/usuario/filtro')}" >
                <img src="assets/icones/sstore.svg" alt="Ícone de Meus Filtros" class="icon">
                <span class="ml-2">Lojinha</span>
            </a>
        

        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <div class="mat-drawer-content">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
