.mat-toolbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: #245c39;
  padding: 0 26px;
  height: 72px;
}

.ml-2 {
  font-size: 15px;
  color: #ffffff;
}

.button-menu {
  vertical-align: middle;
  color: #e7ecf6;
}

.qtd-moedas {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  margin-right: 14px;
}

.qtd-moedas img {
  width: 30px;
  height: auto;
}

.qtd-moedas h5 {
  font-size: 16px;
  color: #ffffff;
}

.mat-drawer-content {
  background: #e3e3e3;
}

.link-icon {
  color: #d87a0e;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-top: 6px;
}

.logo {
  width: 100px;
}

/* sidebar */
.sub-menu {
  position: relative;
  padding: 8px;
  margin: 16px;
  margin-left: 8px;
  font-family: "Nunito Sans", sans-serif;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
}

.icon-sub {
  transition: transform 0.3s ease;
}

.icon-rotate {
  transform: rotate(180deg);
}

/* menu links */
.mat-list-item {
  position: relative;
  padding: 5px;
  margin-top: 15px;
  font-family: "Nunito Sans", sans-serif;
  color: #ffffff;
}

.mat-list-item:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3px;
  background-color: #d87a0e;
  display: none;
  font-weight: bold;
}

.mat-list-item:hover:before {
  display: block;
  font-weight: 700;
}

.mat-list-item:hover {
  background-color: #e2e2e265;
  font-weight: 700;
}

.mat-list-item:hover .icon {
  color: #ffffff;
}

.mat-list-item:hover span {
  color: #ffffff;
}

.heading-home {
  font-size: 0.87rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 14px;
  margin-top: 18px;
  color: #ffffff;
}

.active-link {
  background: #e2e2e273;
  color: #ffffff;
  font-weight: 700;
  padding: 10px;
  display: flex;
  align-items: center;
}

.mat-list-item.active-link:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3px;
  background: #d87a0e;
  display: block;
}

/* Estilo para o texto do link ativo */
a.active-link span {
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}

.mat-drawer-sidenav {
  width: 250px;
  background: #245c39;
  overflow-x: hidden;
  margin-top: 15px;
  font-family: "Nunito Sans", sans-serif;
}

.mat-drawer-content {
  height: 100vh;
}

.navbar {
  min-height: 70px;
}

.custom-bg {
  background-color: #b6bcbc;
}

.sb-nav-link-icon {
  margin: 10px;
  /* Adicione margem conforme desejado */
}

.cor {
  color: rgb(255, 255, 255);
  /* Defina a cor do texto como branca */
  font-weight: 400;
}

::ng-deep .mat-drawer.mat-drawer-side {
  z-index: 0 !important; /* ou 0, dependendo do comportamento desejado */
}

/* profile e menu */
.header-user {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1rem;
  max-height: 48px;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.user-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 80%;
}

.user-info h3 {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  margin: 0;
  max-height: 24px;
  display: flex;
  align-items: center;
}

.user-info span {
  font-size: 14px;
  color: #f0f0f0;
  font-weight: 300;
  max-height: 24px;
  display: flex;
  align-items: center;
}

.dropdown-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
}

/* menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 120%;
  right: 0;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  z-index: 15;
  width: 220px;
  min-height: 80px;
  padding: 8px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu .dropdown-item {
  padding: 0.5rem 1rem;
  display: block;
  text-decoration: none;
  color: #292929;
}

.dropdown-menu .dropdown-item:hover {
  background: #e7f1e5;
  border-radius: 4px;
}

.dropdown-button.active + .dropdown-menu {
  display: block;
}

.dropdown-button .dropdown-icon {
  transition: transform 0.3s;
}

.dropdown-button.active .dropdown-icon {
  transform: rotate(180deg);
}

/* Estilo para dispositivos móveis e tablets */
@media (max-width: 991px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
    margin-right: 200px;
  }

  .btn-link {
    order: 1;
  }

  .nav-link {
    order: 3;
  }

  .dropdown-menu {
    left: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .mat-list-item {
    margin-top: 10px;
    padding: 10px;
  }

  .mat-list-item:before {
    content: ""; /* Adiciona um elemento antes do conteúdo do .mat-list-item */
    position: absolute; /* Posiciona o elemento absolutamente em relação ao .mat-list-item */
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    background-color: #d87a0e;
    display: none;
  }

  .mat-list-item:hover:before {
    display: block; /* Torna a linha vertical visível ao passar o mouse */
    font-weight: bold;
  }

  .mat-list-item:hover {
    background-color: #e2e2e265; /* Cor de destaque ao passar o mouse */
    font-weight: bold;
  }

  .mat-list-item:hover .icon {
    color: #fefefe;
  }

  .mat-list-item:hover span {
    color: #ffffff;
  }

  .header-user {
    gap: 0.5rem;
  }

  .user-photo {
    margin: 0;
  }

  .user-info {
    display: none;
  }

  .navbar-brand  {
    display: none;
  }

  .dropdown-menu {
    left: 0;
  }
}

@media (max-width: 371px) {
  .navbar-brand img {
    width: 190px;
    height: auto;
    align-items: center;
  }
}
