<div class="main-container">
    <div class="back-title">
        <img src="assets/icones/arrow-left.svg" alt="Back" class="back-icon" (click)="goBack()">
        <span>{{ isEditMode ? 'Editar procedimento médico' : 'Cadastrar procedimento médico' }}</span>
    </div>
  
    <div class="forms-container">
        <form (ngSubmit)="onSubmit()" [formGroup]="medicinaForm">
            <div class="form-group">
                <label for="identificadorLoja">Loja</label>
                <app-select-padrao
                  label="Selecione uma loja"
                  [options]="lojas"
                  [(selectedValue)]="selectedLoja"
                  formControlName="identificadorLoja">
                </app-select-padrao>
            </div>

            <div class="form-group">
                <label for="usuarioId">Colaborador</label>
                <app-select-padrao
                  label="Selecione um colaborador"
                  formControlName="usuarioId">
                </app-select-padrao>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="data">Data Exame/Procedimento</label>
                    <input type="date" id="data" name="data" formControlName="data" class="form-control">
                </div>

                <div class="form-group">
                    <label for="tipo">Tipo Exame/Procedimento</label>
                    <app-select-padrao
                      label="Selecione o tipo"
                      [options]="tiposProcedimento"
                      [(selectedValue)]="selectedTipoProcedimento"
                      formControlName="tipo">
                    </app-select-padrao>
                </div>
            </div>

            <div class="form-group">
                <label for="descricao">Descricao</label>
                <textarea type="text" id="descricao" name="descricao" formControlName="descricao" class="form-control" placeholder="Digite a descricao do procedimento" rows="3"></textarea>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="nomeDoMedico">Nome do médico</label>
                    <input type="text" id="nomeDoMedico" name="nomeDoMedico" formControlName="nomeDoMedico" class="form-control" placeholder="Digite o nome do médico">
                </div>

                <div class="form-group">
                    <label for="crmDoMedico">CRM do médico</label>
                    <input type="text" id="crmDoMedico" name="crmDoMedico" formControlName="crmDoMedico" class="form-control" placeholder="Digite a CRM do médico">
                </div>
            </div>

            <div class="form-group">
                <label for="cid10">CID-10</label>
                <app-select-padrao
                  label="Selecione CID-10"
                  [options]="cid10"
                  [(selectedValue)]="selectedCID10"
                  formControlName="cid10">
                </app-select-padrao>
            </div>

            <div class="form-group">
                <label for="avaliacao">Avaliação médica</label>
                <textarea type="text" id="avaliacao" name="avaliacao" formControlName="avaliacao" class="form-control" placeholder="Digite a avaliação médica" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label>Finalizado?</label>
                <div class="radio-group">
                    <div class="radio-item">
                        <input type="radio" id="statusSim" name="finalizado" value="SIM" formControlName="finalizado" checked>
                        <label for="statusSim">Sim</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="statusNao" name="finalizado" value="NAO" formControlName="finalizado">
                        <label for="statusNao">Não</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Apto?</label>
                <div class="radio-group">
                    <div class="radio-item">
                        <input type="radio" id="statusSim" name="apto" value="SIM" formControlName="apto" checked>
                        <label for="statusSim">Sim</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="statusNao" name="apto" value="NAO" formControlName="apto">
                        <label for="statusNao">Não</label>
                    </div>
                </div>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="dataProximoExame">Data do próximo exame</label>
                    <input type="date" id="dataProximoExame" name="dataProximoExame" formControlName="dataProximoExame" class="form-control" placeholder="Digite a data">
                </div>

                <div class="form-group">
                    <label for="numDiasAfastado">Número de dias de afastamento</label>
                    <input type="text" id="numDiasAfastado" name="numDiasAfastado" formControlName="numDiasAfastado" class="form-control" placeholder="Digite o número de dias">
                </div>
            </div>

            <div class="container-btn">
                <button type="submit" class="btn-cadastrar">
                    {{ isEditMode ? 'Atualizar procedimento médico' : 'Cadastrar procedimento médico' }}
                </button>
            </div>
        </form>
    </div>

    <app-loading *ngIf="isLoading"></app-loading>

    <div class="alerts">
        <div class="alerts-container alert-success" *ngIf="successMessage">
          {{ successMessage }}
        </div>
        <div class=" alerts-container alert-danger" *ngIf="errorMessage">
            {{ errorMessage }}
        </div>
    </div>
</div>