<div class="main-container">
    <div class="breadcrumb-container">
        <div class="back-title">
            <img src="assets/icones/arrow-left-green.svg" alt="Back" class="back-icon" (click)="goBack()">
            <span>Progresso do colaborador</span>
        </div>
    </div>
    <div class="actions">
        <div class="avatar" [ngStyle]="{'background-color': getRandomColor(colaborador.username)}">
            <img [src]="colaborador.foto?.documentoUrl" alt="Foto do Colaborador" class="foto-colaborador" *ngIf="colaborador.foto?.documentoUrl; else defaultAvatar" />
            <ng-template #defaultAvatar>
                <span>{{ getInitial(colaborador.username) }}</span>
            </ng-template>
        </div>
        <div class="name-user">
            <h1>{{ colaborador.username }}</h1>
            <div class="loja">
                <img src="assets/icones/location.svg" alt="marcador" />
                <div class="infos-conatiner">
                    <p>
                        {{ colaborador.loja?.nome || '-' }}
                        <span *ngIf="colaborador.loja?.endereco?.cidade"> - {{ colaborador.loja?.endereco?.cidade }}</span>
                    </p>
                    <div class="status-container">
                        <span class="status-dot" [ngClass]="{'ativo': colaborador.status === 'Ativo','inativo': colaborador.status !== 'Ativo'}"></span>
                        <p [ngClass]="{'ativo': colaborador.status === 'Ativo','inativo': colaborador.status !== 'Ativo'}">
                            {{ colaborador.status === 'Ativo' ? 'Ativo' : 'Inativo' }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-sector-navigation [sectors]="setores" (sectorChange)="onSectorChange($event)"></app-sector-navigation>
</div>

<div class="subMain-container">
    <ng-container [ngSwitch]="selectedSectorId">
        <div *ngSwitchCase="'curso'">
            <app-info-curso></app-info-curso>
        </div>

        <div *ngSwitchCase="'quiz'">
            <div class="image-center">
                <img src="assets/imgs/embreve.png" alt="Funcionalidade disponível em breve" class="centered-image">
            </div>
        </div>
      </ng-container>
</div>