 <div class="main-container">
    <div class="progress-bar-container" *ngIf="isLoading">
        <div class="progress-bar"></div>
    </div>

    <div class="tabela-container">
        <table>
            <thead>
                <tr>
                    <th>Tipo Exame/Procedimento</th>
                    <th>CID-10</th>
                    <th>Data</th>
                    <th>Número de dias de afastamento</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medicina of medicinasPaginados">
                    <td>{{ getDescricaoTipoProcedimento(medicina.tipo || '-') }}</td>
                    <td>{{ getDescricaoCID10(medicina.cid10 || '-') }}</td>
                    <td>{{ medicina.data || '-' }}</td>
                    <td>{{ medicina.numDiasAfastado || '-' }}</td>
                    <td>
                        <div class="acoes">
                            <button class="btn-acao visualizar" (click)="visualizarMedicina(medicina.id)">
                                <img src="assets/icones/See.png" alt="Visualizar">
                            </button>
                            <button class="btn-acao edit" (click)="editarMedicina(medicina.id)">
                                <img src="assets/icones/Edit.png" alt="Editar">
                            </button>
                            <button class="btn-acao delete" (click)="openModalDeletar(medicina)">
                                <img src="assets/icones/Delete.png" alt="Excluir">
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="medicinasPaginados.length === 0">
        <div class="no-data-message">
            <img src="assets/imgs/empty-images/no-data.svg" alt="Sem dados">
            <p>Não há procedimentos médicos.</p>
        </div>
    </div>

    <div class="pagination">
        <app-pagination
        [paginaAtual]="paginaAtual"
        [totalItens]="totalItens"
        [itensPorPagina]="itensPorPagina"
        (paginaMudou)="onPaginaMudou($event)">
        </app-pagination>
    </div> 
 </div>